<md-dialog style="padding: 30px;" class="prod">
    <md-content>
        <form name="addCustomForm" novalidate>
            <div layout="row">
                <md-input-container   layout="row">
                    <div style=" padding: 29px 0px 0px 0px;"><label>销售类型：</label></div>
                    <md-select placeholder="" ng-model="selectedOrderDetail.saleTypeUuid" class="select">
                        <md-option ng-selected="saleType.uuid == selectedOrderDetail.saleType.uuid" ng-repeat="saleType in saleTypes" value="{{saleType.uuid}}" >{{saleType.name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container  layout="row" >
                    <label class="label">备注：</label>
                    <input type="text" ng-model="selectedOrderDetail.remark">
                </md-input-container>
            </div>

            <div layout="row">
                <md-button ng-click="hideDlg()">
                    <i class="fa fa-check"></i>&nbsp;确定
                </md-button>
                <md-button ng-click="cancelDlg()"><i class="fa fa-times"></i>&nbsp;取消</md-button>
            </div>
        </form>
    </md-content>
</md-dialog>