<div layout="row" >
    <div flex layout="row">
        <div flex="5"></div>
        <div flex layout="row">
            <div flex="35">
                已选中单据数：&nbsp;{{ selectedItemsCount }}
            </div>
            <div flex="35">
                汇总金额：&nbsp;{{ selectedItemsTotalPrice }}
            </div>
        </div>
    </div>
</div>
<div flex ng-repeat="orderMaster in OrderMasterList.content"
     layout="row" layout-margin>
    <div flex layout="row">
        <div flex="5">
            <md-checkbox ng-checked="exists(orderMaster, selected)" ng-click="toggle(orderMaster, selected)">
            </md-checkbox>
        </div>
        <div flex="95" layout="column"  layout-padding  class="md-whiteframe-z1 order-item-background">
            <div >订单编号：&nbsp;{{orderMaster.no}}</div>
            <md-divider style="margin: 10px 7px 20px 7px;"></md-divider>

            <div layout="row">
                <div layout="column" flex="20">
                    <div >客户编号：&nbsp;{{orderMaster.customer.no}}</div>
                    <div >客户名称：&nbsp;{{orderMaster.customer.name}}</div>
                </div>

                <div class="verticalLine" offset-gt-md="5"></div>

                <div flex offset-gt-md="5" layout="column">
                    <div >导购名称：&nbsp;{{orderMaster.employee.name}}</div>
                    <div >商品种类：&nbsp;{{orderMaster.orderDetailCount}}</div>
                </div>

                <div flex  layout="column">
                    <div >送货日期：&nbsp;{{orderMaster.deliverDate| date:'yyyy-MM-dd'}}</div>
                    <div >启用状态：&nbsp;{{STATUS[orderMaster.status].name}}</div>
                </div>

                <div flex  layout="column">
                    <div >审核状态：&nbsp;{{AUDIT[orderMaster.confirm].name}}</div>
                    <div >抛转状态：&nbsp;{{TRANSFER_PSO_FLAG[orderMaster.transferPsoFlag].name}}</div>
                </div>
            </div>
            <md-divider style="margin: 10px 7px 20px 7px;"></md-divider>
            <div layout="row">
                <div flex="50">总价：{{orderMaster.orderAmount}}</div>
                <div flex="50" align="right">
                    <md-button class="md-raised"
                               ng-click="editItem(orderMaster)">&nbsp;查看详情
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div pagination option="pageOption" callback="queryMenuActionWithPaging()"></div>