<div class="main-panel">
    <div ng-show="ui_status == UI_STATUS.VIEW_UI_STATUS">

        <div layout="row" flex="100" layout-warp
             style="margin: 0px 0px 0px 0px; padding-left: 60px;background-color:skyblue;;height: 50px;padding-top: 10px;">
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[4].value, PMS_BILL_PAY_TYPES[1].value)">
                        {{PMS_BILL_TYPES[4].name + '|' + PMS_BILL_PAY_TYPES[1].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[4].value, PMS_BILL_PAY_TYPES[2].value)">
                        {{PMS_BILL_TYPES[4].name + '|' + PMS_BILL_PAY_TYPES[2].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[4].value, PMS_BILL_PAY_TYPES[3].value)">
                        {{PMS_BILL_TYPES[4].name + '|' + PMS_BILL_PAY_TYPES[3].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[4].value, PMS_BILL_PAY_TYPES[4].value)">
                        {{PMS_BILL_TYPES[4].name + '|' + PMS_BILL_PAY_TYPES[4].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[4].value, PMS_BILL_PAY_TYPES[6].value)">
                        {{PMS_BILL_TYPES[4].name + '|' + PMS_BILL_PAY_TYPES[6].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[5].value, PMS_BILL_PAY_TYPES[1].value)">
                        {{PMS_BILL_TYPES[5].name + '|' + PMS_BILL_PAY_TYPES[1].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[5].value, PMS_BILL_PAY_TYPES[2].value)">
                        {{PMS_BILL_TYPES[5].name + '|' + PMS_BILL_PAY_TYPES[2].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[5].value, PMS_BILL_PAY_TYPES[3].value)">
                        {{PMS_BILL_TYPES[5].name + '|' + PMS_BILL_PAY_TYPES[3].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[5].value, PMS_BILL_PAY_TYPES[4].value)">
                        {{PMS_BILL_TYPES[5].name + '|' + PMS_BILL_PAY_TYPES[4].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[5].value, PMS_BILL_PAY_TYPES[6].value)">
                        {{PMS_BILL_TYPES[5].name + '|' + PMS_BILL_PAY_TYPES[6].name}}
                    </button>
                </span>
            </div>
        </div>

        <div layout="row" style="margin: 0px 0px 0px 0px; padding-left: 60px;background-color:silver;position: relative;height: 230px;padding-top: 0;">
            <div layout="row" flex="100" style="color:#7f8fa4" >
                <div flex="20">
                    <div layout-padding>总备用金 :  <span>{{currentReport.totalAmount}}</span></div>
                    <div layout-padding>上分总额 :  <span>{{currentReport.upAmount}}</span></div>
                    <div layout-padding>下分总额 :  <span>{{currentReport.downAmount}}</span></div>
                    <div layout-padding>售卖总额 :  <span>{{currentReport.saleAmount}}</span></div>
                    <div layout-padding>支出总额 :  <span>{{currentReport.payAmount}}</span></div>
                    <div layout-padding>结余总额 :  <span>{{currentReport.currentTotalAmount}}</span></div>
                </div>
                <div flex="15">
                    <div layout-padding>现金备用金 :  <span>{{currentReport.cashAmount}}</span></div>
                    <div layout-padding>现金上分总额 :  <span>{{currentReport.cashUpAmount}}</span></div>
                    <div layout-padding>现金下分总额 :  <span>{{currentReport.cashDownAmount}}</span></div>
                    <div layout-padding>现金售卖总额 :  <span>{{currentReport.cardSaleAmount}}</span></div>
                    <div layout-padding>现金支出总额 :  <span>{{currentReport.cashPayAmount}}</span></div>
                    <div layout-padding>现金结余 :  <span>{{currentReport.currentCashAmount}}</span></div>
                </div>
                <div flex="15">
                    <div layout-padding>微信备用金 :  <span>{{currentReport.wxAmount}}</span></div>
                    <div layout-padding>微信上分总额 :  <span>{{currentReport.wxUpAmount}}</span></div>
                    <div layout-padding>微信下分总额 :  <span>{{currentReport.wxDownAmount}}</span></div>
                    <div layout-padding>微信售卖总额 :  <span>{{currentReport.wxSaleAmount}}</span></div>
                    <div layout-padding>---<span></span></div>
                    <div layout-padding>微信结余 :  <span>{{currentReport.currentWxAmount}}</span></div>
                </div>
                <div flex="15">
                    <div layout-padding>支付宝备用金 :  <span>{{currentReport.zfbAmount}}</span></div>
                    <div layout-padding>支付宝上分总额 :  <span>{{currentReport.zfbUpAmount}}</span></div>
                    <div layout-padding>支付宝下分总额 :  <span>{{currentReport.zfbDownAmount}}</span></div>
                    <div layout-padding>支付宝售卖总额 :  <span>{{currentReport.zfbSaleAmount}}</span></div>
                    <div layout-padding>---<span></span></div>
                    <div layout-padding>支付宝结余 :  <span>{{currentReport.currentZfbAmount}}</span></div>
                </div>
                <div flex="15">
                    <div layout-padding>刷卡备用金 :  <span>{{currentReport.posAmount}}</span></div>
                    <div layout-padding>刷卡上分总额 :  <span>{{currentReport.posUpAmount}}</span></div>
                    <div layout-padding>刷卡下分总额 :  <span>{{currentReport.posDownAmount}}</span></div>
                    <div layout-padding>刷卡售卖总额 :  <span>{{currentReport.posSaleAmount}}</span></div>
                    <div layout-padding>---<span></span></div>
                    <div layout-padding>刷卡结余 :  <span>{{currentReport.currentPosAmount}}</span></div>
                </div>
                <div flex="15">
                    <div layout-padding>筹码备用金额 :  <span>{{currentReport.cardAmount}}</span></div>
                    <div layout-padding>筹码上分总额 :  <span>---</span></div>
                    <div layout-padding>筹码下分总额 :  <span>---</span></div>
                    <div layout-padding>筹码售卖总额：  <span>{{currentReport.cardSaleAmount}}</span></div>
                    <div layout-padding>---<span></span></div>
                    <div layout-padding>筹码结余金额 :  <span>{{currentReport.currentCardAmount}}</span></div>
                </div>
            </div>
        </div>

        <div layout="row" flex="100" layout-warp
             style="margin: 0px 0px 0px 0px; padding-left: 60px;background-color:skyblue;;height: 50px;padding-top: 10px;">
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[6].value, PMS_BILL_PAY_TYPES[1].value)">
                        {{PMS_BILL_TYPES[6].name + '|' + PMS_BILL_PAY_TYPES[1].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[7].value, PMS_BILL_PAY_TYPES[1].value)">
                        {{PMS_BILL_TYPES[7].name + '|' + PMS_BILL_PAY_TYPES[1].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[8].value, PMS_BILL_PAY_TYPES[1].value)">
                        {{PMS_BILL_TYPES[8].name + '|' + PMS_BILL_PAY_TYPES[1].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[9].value, PMS_BILL_PAY_TYPES[1].value)">
                        {{PMS_BILL_TYPES[9].name + '|' + PMS_BILL_PAY_TYPES[1].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[10].value, PMS_BILL_PAY_TYPES[1].value)">
                        {{PMS_BILL_TYPES[10].name + '|' + PMS_BILL_PAY_TYPES[1].name}}
                    </button>
                </span>
            </div>
            <div flex="10" layout="column">
                <span>
                    <button md-raised-button ng-click="showAddEditor(PMS_BILL_TYPES[11].value, PMS_BILL_PAY_TYPES[1].value)">
                        {{PMS_BILL_TYPES[11].name + '|' + PMS_BILL_PAY_TYPES[1].name}}
                    </button>
                </span>
            </div>

        </div>


        <div layout="row" class="main-body border">
            <!--<div flex="70" hide-sm hide-md layout="column" class="left-body" ng-show="selectedItem">
                <div flex="100" layout-padding>
                    <div layout="row" layout-padding style="font-size: 20px;padding-top: 2px; font-weight: bold;">
                        <span flex>订单编号: {{selectedItem.no}}</span>
                        <span flex class="right-align">￥:{{selectedItem.orderAmount}}</span>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-wrap layout-margin>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">客户编号</span>
                            <span class="item-content">{{selectedItem.customer.no}}</span>
                        </span>
                        <span flex=50" flex-sm="100" layout-padding>
                            <span class="item-name">导购名称</span>
                            <span class="item-content">{{selectedItem.employee.name}}</span>
                        </span>
                    </div>

                    <md-tabs md-dynamic-height md-border-bottom style="padding-top: 30px;">
                        <md-tab label="产品信息">
                            <div layout="row" layout-wrap style="margin-top: 20px;">
                                <div flex="100" ng-repeat="detail in selectedItem.detailList" ng-click="" class="prod-item" style="position: relative;padding-bottom: 0px; min-height: 200px;margin-top: 20px;">
                                    <div layout="row" class="height: 100%;">
                                        <div flex="33">
                                            <img style="max-height: 180px;" ng-src="app/img/item.jpeg" >
                                        </div>
                                        <div flex="33">
                                            <div layout-padding>商品名称 :  <span>{{detail.item.name}}</span></div>
                                            <div layout-padding>商品编号 :  <span>{{detail.item.no}}</span></div>
                                            <div layout-padding>商品品牌 :  <span>{{detail.item.brand.name}}</span></div>
                                        </div>
                                        <div flex="33" style="margin-bottom: 45px;">
                                            <div layout-padding>是否定制 :  <span>{{CUSTOMIZE_FLAG[detail.customizeFlag].name}}</span></div>
                                            <div layout-padding>商品属性 :  <span>{{detail.itemAttribute}}</span></div>
                                            <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                            <div layout-padding>订单数量 :  <span>{{detail.orderQuantity}}</span></div>
                                        </div>
                                        <div style="position: absolute; right: -10px; bottom: 10px;">
                                            <md-button class="md-button close-btn" aria-label="More" ng-click="toggleDetailMorePanelAction(detail)">
                                                查看更多...
                                            </md-button>
                                            <md-button class="md-button close-btn" aria-label="More" ng-click="deleteDetailAction(detail)">
                                                <ng-md-icon icon="remove_circle_outline" size="20"></ng-md-icon>删除
                                            </md-button>
                                            <md-button class="md-button close-btn" aria-label="More"
                                                       ng-click="editItemAction(detail, 'PSO_ORDER_DTL', '订单: ' + selectedItem.no + ' / ' + '产品信息: ' + detail.no)">
                                                <ng-md-icon icon="edit" size="20"></ng-md-icon>编辑
                                            </md-button>
                                        </div>
                                    </div>
                                    &lt;!&ndash; detail panel &ndash;&gt;
                                    <div layout="row" ng-show="detail.showMorePanel">
                                        <div layout-margin>Have more stuff here....</div>
                                    </div>
                                    <md-divider style="margin-top: 5px"></md-divider>
                                </div>
                                <div flex="100" class="add-new" style="margin: 10px 0 0 0;" ng-click="preAddItemAction({}, 'PSO_ORDER_DTL', '新增订单')">
                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;点击新增...</a>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab label="出货">
                            ...
                        </md-tab>
                    </md-tabs>
                </div>
            </div>-->
            <div flex class="right-body">
                <!-- basic search-->
                <div class="search-bar" layout="row" >
                    <!--<span style="position: absolute; top: 15px; left: 10px;">
                        <md-checkbox ng-model="selectAllFlag" aria-label="Checkbox" ng-change="selectAllAction()"></md-checkbox>
                    </span>-->
                    <md-input-container flex="15" style="margin-left: 50px;">
                        <label class="label">起始日期：</label>
                        <input type="date" ng-model="listFilterOption.startDate">
                    </md-input-container>
                    <md-input-container flex="15">
                        <label class="label">结束日期：</label>
                        <input type="date" ng-model="listFilterOption.endDate">
                    </md-input-container>
                    <md-input-container flex="15" style="margin-left: 50px;">
                        <label>流水类型</label>
                        <md-select ng-model="listFilterOption.type">
                            <md-option ng-repeat="(key, value) in PMS_BILL_TYPES" ng-value="key">{{value.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex style="margin-left: 50px;" >
                        <label>输入关键字查询</label>
                        <input ng-model="listFilterOption.searchKeyWord">
                    </md-input-container>
                </div>
                <!-- advanced search-->
                <!--<div layout="row" ng-show="displayAdvancedSearPanel">-->
                    <!--&lt;!&ndash; fill more searching here.&ndash;&gt;-->
                    <!--<div flex>-->
                        <!--Have you stuff here...-->
                    <!--</div>-->
                <!--</div>-->
                <!-- status panel-->
                <div ng-repeat="item in itemList | orderBy:sortByField" ng-class="selectedItem.no == item.no ? 'selected-item':''">
                    <div ><!--class="summary-item"-->
                        <div layout="row" layout-wrap>
                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px;font-size: 14px;">
                                <div layout="row" flex style="color:#7f8fa4" >
                                    <div flex="10">
                                        <div layout-padding><span>{{PMS_BILL_TYPES[item.type].name}}</span></div>
                                    </div>
                                    <div flex="10">
                                        <div layout-padding><span>{{PMS_BILL_PAY_TYPES[item.payType].name}}</span></div>
                                    </div>
                                    <div flex="10">
                                        <div layout-padding><span>{{item.amount}}</span></div>
                                    </div>
                                    <div flex="10">
                                        <div layout-padding><span>{{item.createTime | date:'MM-dd HH:mm:ss'}}</span></div>
                                    </div>
                                    <div flex="10">
                                        <div layout-padding><span>{{item.createUser.name}}</span></div>
                                    </div>
                                    <div flex>
                                        <div layout-padding>备注 :  <span>{{item.comment}}</span></div>
                                    </div>
                                </div>
                                <div layout="row" layout-align="end center">
                                    <md-button class="md-button close-btn" aria-label="More" ng-click="showModifyEditor(item)" style="position: relative;left: 15px; color:blue;">
                                        编辑
                                    </md-button>
                                </div>
                                <div layout="row" layout-align="end center">
                                    <md-button class="md-button close-btn" aria-label="More" ng-click="deleteClickAction(item)" style="position: relative;left: 15px; color:blue;">
                                        删除
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div layout="row" layout-wrap ng-show="item.showMorePanel && !selectedItem" style="font-size: 14px;">
                        <div flex="100" ng-repeat="detail in item.detailList" style="padding: 10px 20px 0px 20px;">
                            <md-divider></md-divider>
                            <div layout="row" style="height: 100%;">
                                <div flex="20">
                                    <img style="max-height: 150px;padding-top: 10px;" ng-src="app/img/item.jpeg" >
                                </div>
                                <div flex="40">
                                    <div layout-padding>商品名称 :  <span>{{detail.item.name}}</span></div>
                                    <div layout-padding>商品编号 :  <span>{{detail.item.no}}</span></div>
                                    <div layout-padding>商品品牌 :  <span>{{detail.item.brand.name}}</span></div>
                                </div>
                                <div flex="40">
                                    <div layout-padding>是否定制 :  <span>{{CUSTOMIZE_FLAG[orderDetail.customizeFlag].name}}</span></div>
                                    <div layout-padding>商品属性 :  <span>{{detail.itemAttribute}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <md-divider></md-divider>
                </div>
                <div pagination option="pageOption" callback="refreshList()"></div>
            </div>
        </div>
    </div>

    <div ng-if="ui_status != UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="100" class="left-title">
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="listItemAction()" style="float: left; margin-left: 36px;"  >
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
                <span>{{desc}}</span>
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="saveItemAction()">
                    <ng-md-icon icon="save"></ng-md-icon>
                </md-button>
            </div>
        </div>

        <object-editor class="object-editor" status="status" source="source" domain="domain"></object-editor>
    </div>

</div>
