<div class="main-panel">
    <div ng-show="ui_status == UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="70" hide-sm hide-md class="left-title" ng-show="selectedItem" style="position: relative;">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;" ng-click="editItemAction(selectedItem, 'CBI_BASE_WAREHOUSE', '编号: ' + selectedItem.no)">
                    <ng-md-icon icon="edit"></ng-md-icon>
                </md-button>
                <!--<md-menu>
                    <md-button class="md-icon-button close-btn" aria-label="More" style="float: left;" ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                                <span ng-if="item.confirm != '2'">
                                    <md-button class="md-button" aria-label="More" ng-click="confirmClickAction($event, selectedItem)">
                                        <ng-md-icon icon="lock"></ng-md-icon>审核
                                    </md-button>
                                </span>
                                <span ng-if="item.confirm == '2'">
                                    <md-button class="md-button" aria-label="More" ng-click="confirmClickAction($event, selectedItem)">
                                        <ng-md-icon icon="lock"></ng-md-icon>取消审核
                                    </md-button>
                                </span>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-button" aria-label="More" ng-click="statusClickAction($event, selectedItem)">
                                <ng-md-icon icon="lock_open"></ng-md-icon>
                                <span ng-if="item.status == '1'">禁用</span>
                                <span ng-if="item.status != '1'">启用</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-button" aria-label="More" ng-click="deleteClickAction($event, selectedItem)">
                                <ng-md-icon icon="delete"></ng-md-icon>
                                删除
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>-->
                <span>仓库详细信息</span>
                <md-button class="md-icon-button close-btn float-right" aria-label="More" ng-click="selectedItem = null">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
            </div>
            <div flex class="right-title">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;" ng-click="preAddItemAction({}, 'CBI_BASE_WAREHOUSE')">
                    <ng-md-icon icon="add"></ng-md-icon>
                </md-button>
                <span>仓库列表</span>
                <md-menu>
                    <md-button class="md-icon-button close-btn float-right" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-disabled="disabledBatchConfirm" class="md-button" aria-label="More" ng-click="confirmAllClickAction($event)">
                                <ng-md-icon icon="lock"></ng-md-icon>
                                批量审核
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-disabled="disabledBatchCancelConfirm" class="md-button" aria-label="More" ng-click="cancelConfirmAllClickAction($event)">
                                <ng-md-icon icon="lock_open"></ng-md-icon>
                                批量取审
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-disabled="disabledBatchStatus" class="md-button" aria-label="More" ng-click="statusAllClickAction($event)">
                                <ng-md-icon icon="lock"></ng-md-icon>
                                批量启用
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-disabled="disabledBatchCancelStatus" class="md-button" aria-label="More" ng-click="cancelStatusAllClickAction($event)">
                                <ng-md-icon icon="lock_open"></ng-md-icon>
                                批量禁用
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-button" aria-label="More" ng-click="deleteAllClickAction($event)">
                                <ng-md-icon icon="delete"></ng-md-icon>
                                批量删除
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div layout="row" class="main-body border">
            <div flex="70" hide-sm hide-md layout="column" class="left-body" ng-show="selectedItem">
                <div flex="100" layout-padding>
                    <div layout="row" layout-padding style="font-size: 20px;padding-top: 2px; font-weight: bold;">
                        <span flex>编号: {{selectedItem.no}}</span>
                        <span flex class="right-align">{{selectedItem.name}}</span>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-wrap layout-margin>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">编号</span>
                            <span class="item-content">{{selectedItem.no}}</span>
                        </span>
                        <span flex=50" flex-sm="100" layout-padding>
                            <span class="item-name">名称</span>
                            <span class="item-content">{{selectedItem.name}}</span>
                        </span>
                    </div>

                    <!--<md-tabs md-dynamic-height md-border-bottom style="padding-top: 30px;">
                        <md-tab label="产品信息">
                            <div layout="row" layout-wrap style="margin-top: 20px;">
                                <div flex="100" ng-repeat="detail in selectedItem.detailList" ng-click="" class="prod-item" style="position: relative;padding-bottom: 0px; min-height: 200px;margin-top: 20px;">
                                    <div layout="row" class="height: 100%;">
                                        <div flex="33">
                                            <img style="max-height: 180px;" ng-src="app/img/item.jpeg" >
                                        </div>
                                        <div flex="33">
                                            <div layout-padding>商品名称 :  <span>{{detail.item.name}}</span></div>
                                            <div layout-padding>商品编号 :  <span>{{detail.item.no}}</span></div>
                                            <div layout-padding>商品品牌 :  <span>{{detail.item.brand.name}}</span></div>
                                        </div>
                                        <div flex="33" style="margin-bottom: 45px;">
                                            <div layout-padding>是否定制 :  <span>{{CUSTOMIZE_FLAG[detail.customizeFlag].name}}</span></div>
                                            <div layout-padding>商品属性 :  <span>{{detail.itemAttribute}}</span></div>
                                            <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                            <div layout-padding>订单数量 :  <span>{{detail.orderQuantity}}</span></div>
                                        </div>
                                        <div style="position: absolute; right: -10px; bottom: 10px;">
                                            <md-button class="md-button close-btn" aria-label="More" ng-click="toggleDetailMorePanelAction(detail)">
                                                查看更多...
                                            </md-button>
                                            <md-button class="md-button close-btn" aria-label="More" ng-click="deleteDetailAction(detail)">
                                                <ng-md-icon icon="remove_circle_outline" size="20"></ng-md-icon>删除
                                            </md-button>
                                            <md-button class="md-button close-btn" aria-label="More"
                                                       ng-click="editItemAction(detail, 'PSO_ORDER_DTL', '订单: ' + selectedItem.no + ' / ' + '产品信息: ' + detail.no)">
                                                <ng-md-icon icon="edit" size="20"></ng-md-icon>编辑
                                            </md-button>
                                        </div>
                                    </div>
                                    &lt;!&ndash; detail panel &ndash;&gt;
                                    <div layout="row" ng-show="detail.showMorePanel">
                                        <div layout-margin>Have more stuff here....</div>
                                    </div>
                                    <md-divider style="margin-top: 5px"></md-divider>
                                </div>
                                <div flex="100" class="add-new" style="margin: 10px 0 0 0;" ng-click="preAddItemAction({}, 'PSO_ORDER_DTL', '新增订单')">
                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;点击新增...</a>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab label="出货">
                            ...
                        </md-tab>
                    </md-tabs>-->
                </div>
            </div>
            <div flex class="right-body">
                <!-- basic search-->
                <div class="search-bar" layout="row" style="position: relative">
                    <span style="position: absolute; top: 15px; left: 10px;">
                        <md-checkbox ng-model="selectAllFlag" aria-label="Checkbox" ng-change="selectAllAction()"></md-checkbox>
                    </span>
                    <md-input-container flex="15" style="margin-left: 50px;" ng-show="selectedItem == null">
                        <label>启用状态</label>
                        <md-select ng-model="listFilterOption.status">
                            <md-option ng-repeat="(key, value) in STATUS" ng-value="key">{{value.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="15" ng-show="selectedItem == null">
                        <label>审核状态</label>
                        <md-select ng-model="listFilterOption.confirm">
                            <md-option ng-repeat="(key, value) in CONFIRM" ng-value="key">{{value.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex style="margin-left: 50px;" >
                        <label>编号</label>
                        <input ng-model="listFilterOption.no">
                    </md-input-container>
                    <md-input-container flex="40" style="margin-left: 50px;" ng-show="selectedItem == null">
                        <label>名称</label>
                        <input ng-model="listFilterOption.name">
                    </md-input-container>
                    <!--<span style="padding-top: 10px;">
                        <md-button class="md-icon-button" aria-label="Eat cake" ng-click="showAdvancedSearchAction()">
                            <ng-md-icon icon="expand_more" ng-show="!displayAdvancedSearPanel"></ng-md-icon>
                            <ng-md-icon icon="expand_less" ng-show="displayAdvancedSearPanel"></ng-md-icon>
                        </md-button>
                    </span>-->
                </div>
                <!-- advanced search-->
                <!--<div layout="row" ng-show="displayAdvancedSearPanel">
                    &lt;!&ndash; fill more searching here.&ndash;&gt;
                    <div flex>
                        Have you stuff here...
                    </div>
                </div>-->
                <!-- status panel-->
                <div layout="row" layout-warp layout-padding layout-margin ng-show="!selectedItem" style="margin: 20px 0px 20px 0px; padding-left: 60px;background-color: whitesmoke;position: relative;height: 50px;padding-top: 15px;">
                    <span flex="20">总记录数: {{pageOption.totalElements}}</span>
                    <span flex="20">已选记录数: {{selectedItemSize}}</span>

                    <md-menu>
                        <md-button class="md-button close-btn" aria-label="More" ng-click="$mdOpenMenu($event)" style="position: absolute;right: 0px;top: 0px;">
                            <ng-md-icon icon="sort"></ng-md-icon>排序
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('name')">
                                    <ng-md-icon ng-show="sortByField == 'name'" icon="play_arrow"></ng-md-icon>按名称
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('no')">
                                    <ng-md-icon ng-show="sortByField == 'no'" icon="play_arrow"></ng-md-icon>按编号
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div ng-repeat="item in itemList | orderBy:sortByField" ng-class="selectedItem.no == item.no ? 'selected-item':''">
                    <div class="summary-item">
                        <div layout="row" layout-wrap>
                            <span style="position: absolute">
                                <md-checkbox ng-model="item.selected" aria-label="Checkbox" ng-click="selectItemAction($event, item)"></md-checkbox>
                            </span>
                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px; font-weight: bold;">
                                <span flex ng-click="showDetailPanelAction(item)" class="summary-item__title">{{item.no}}</span>
                            </div>
                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px;font-size: 14px;" layout-align="space-between center" ng-hide="selectedItem">
                                <div flex layout="row" style="color:#7f8fa4" >
                                    <span>编号: <span style="font-style: italic">{{item.no}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>名称: <span style="font-style: italic">{{item.name}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span ng-if="item.confirm != '2'">未审核&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                                    <span ng-if="item.confirm == '2'">已审核&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                                    <span ng-if="item.status == '1'">有效</span>
                                    <span ng-if="item.status != '1'">无效</span>
                                </div>
                                <div layout="row" layout-align="end center">
                                    <div ng-if="item.confirm != '2'">
                                        <md-button class="md-fab md-mini" ng-click="confirmClickAction($event, item)">
                                            <span>审核</span>
                                        </md-button>
                                    </div>
                                    <div ng-if="item.confirm == '2'">
                                        <md-button class="md-fab md-primary md-mini" ng-click="confirmClickAction($event, item)">
                                            <span>取审</span>
                                        </md-button>
                                    </div>
                                    <div ng-if="item.status != '1'">
                                        <md-button class="md-fab md-mini" ng-click="statusClickAction($event, item)">
                                            <span>启用</span>
                                        </md-button>
                                    </div>
                                    <div ng-if="item.status == '1'">
                                        <md-button class="md-fab md-primary md-mini" ng-click="statusClickAction($event, item)">
                                            <span>禁用</span>
                                        </md-button>
                                    </div>
                                    <!--<md-switch ng-model="item.confirm" aria-label="Switch 1" class="md-block" ng-true-value="'2'" ng-false-value="'1'" ng-click="confirmClickAction($event, item)">
                                        审核
                                    </md-switch>
                                    <md-switch ng-model="item.status" aria-label="Switch 1" class="md-block" ng-true-value="'1'" ng-false-value="'2'" ng-click="statusClickAction($event, item)">
                                        启用
                                    </md-switch>-->
                                    <!--                                    <md-button class="md-button close-btn" aria-label="More" ng-click="toggleMorePanelAction(item)" style="position: relative;left: 15px;">
                                                                            查看更多...
                                                                        </md-button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div layout="row" layout-wrap ng-show="item.showMorePanel && !selectedItem" style="font-size: 14px;">
                        <div flex="100" ng-repeat="detail in item.detailList" style="padding: 10px 20px 0px 20px;">
                            <md-divider></md-divider>
                            <div layout="row" style="height: 100%;">
                                <div flex="20">
                                    <img style="max-height: 150px;padding-top: 10px;" ng-src="app/img/item.jpeg" >
                                </div>
                                <div flex="40">
                                    <div layout-padding>商品名称 :  <span>{{detail.item.name}}</span></div>
                                    <div layout-padding>商品编号 :  <span>{{detail.item.no}}</span></div>
                                    <div layout-padding>商品品牌 :  <span>{{detail.item.brand.name}}</span></div>
                                </div>
                                <div flex="40">
                                    <div layout-padding>是否定制 :  <span>{{CUSTOMIZE_FLAG[orderDetail.customizeFlag].name}}</span></div>
                                    <div layout-padding>商品属性 :  <span>{{detail.itemAttribute}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <md-divider></md-divider>
                </div>
                <div pagination option="pageOption" callback="refreshList()"></div>
            </div>
        </div>
    </div>

    <div ng-if="ui_status != UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="100" class="left-title">
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="listItemAction()" style="float: left; margin-left: 36px;"  >
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
                <span>{{desc}}</span>
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="saveItemAction()">
                    <ng-md-icon icon="save"></ng-md-icon>
                </md-button>
            </div>
        </div>

        <object-editor class="object-editor" status="status" source="source" domain="domain"></object-editor>
    </div>

</div>
