<!DOCTYPE html>
<html ng-app="IOne" ng-cloak ng-controller="MainController">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!--<base href="/static/">-->

    <!--Third part css files-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/toastr/toastr.min.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" href="app/js/jOrgChart/jquery.jOrgChart.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!--Css files-->
    <link rel="stylesheet" href="app/css/style.css">
    <link rel="stylesheet" href="app/css/auth.css">
    <link rel="stylesheet" href="app/css/temp.css">
    <title>Industry One</title>
</head>
<body>

<div layout="column" class="layout-max-width">
    <div layout="row">
        <div class="gray-border" ng-include=" 'app/src/app/nav.html' "></div>
        <div flex layout="column">
            <div layout="row">
                <div class="md-toolbar-tools banner-2">
                    <md-button class="md-icon-button banner-size" ng-show="!lockMenuFlag" ng-click="lockMenu(true)"><i class="fa fa-bars"></i></md-button>
                    <!--<div ng-show="!lockMenuFlag">-->
                    <!--<img ng-src="app/img/home.jpg"/>-->
                    <!--</div>-->
                    <!--<md-input-container flex="20">-->
                    <!--<label class="main-font search-label">搜索</label>-->
                    <!--<input ng-model="search" style="">-->
                    <!--</md-input-container>-->
                    <div ng-show="selectedMainMenu && selectedMenu">{{selectedMainMenu.name}} / {{selectedMenu.name}}</div>
                    <md-button class="md-icon-button" style="position: absolute; right: 5px;" ng-click="logout()">
                        <ng-md-icon icon="logout"></ng-md-icon>
                    </md-button>
                </div>
            </div>

            <div flex ng-view></div>
        </div>
    </div>

    <div ng-controller="FooterController"></div>
</div>

<!--Third part Javascript libraries-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/toastr/toastr.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="bower_components/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
<script src="app/js/jOrgChart/jquery.jOrgChart.js"></script>
<script src="app/js/jOrgChart/taffy.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>

<!--Javascript source code-->
<script src="app/src/login.js"></script>
<script src="app/src/js/service/authenticationService.js"></script>

<script src="app/src/app.js"></script>
<script src="app/src/js/util.js"></script>
<script src="app/src/js/directive/menu.js"></script>
<script src="app/src/js/directive/directive.js"></script>
<script src="app/src/js/directive/angular-flexslider.js"></script>
<script src="app/src/app/production/template/template.js"></script>
<!--<script src="app/src/app/production/template_data/templateData.js"></script>-->
<!--<script src="app/src/app/production/production/production.js"></script>-->
<!--<script src="app/src/app/production/production_link/link.js"></script>-->
<!--<script src="app/src/app/production/temp/temp.js"></script>-->
<!--<script src="app/src/app/order/shopping_cart/shoppingCart.js"></script>-->
<!--<script src="app/src/app/order/sales_slip/salesSlip.js"></script>-->
<!--<script src="app/src/app/order/booking_slip_agency/bookingSlip.js"></script>-->
<!--<script src="app/src/app/order/booking_slip_agency_change/bookingSlipChange.js"></script>-->
<!--<script src="app/src/app/order/booking_slip_group/bookingSlip.js"></script>-->
<!--<script src="app/src/app/order/sale_change/saleChange.js"></script>-->
<!--<script src="app/src/app/order/sale_return/saleReturn.js"></script>-->
<!--<script src="app/src/app/order/refund/refund.js"></script>-->
<!--<script src="app/src/app/order/receipt2s/receipt2s.js"></script>-->
<!--<script src="app/src/app/order/refund2/refund2.js"></script>-->
<!--<script src="app/src/app/auth/config/config.js"></script>-->
<!--<script src="app/src/app/auth/user/user.js"></script>-->
<!--<script src="app/src/app/auth/role/role.js"></script>-->
<!--<script src="app/src/app/auth/function/function.js"></script>-->
<!--<script src="app/src/app/auth/group/group.js"></script>-->
<!--<script src="app/src/app/auth/share/share.js"></script>-->
<!--<script src="app/src/app/ocm/channel_price/channelPrice.js"></script>-->
<!--<script src="app/src/app/fam/dis_card_type/discountCartType.js"></script>-->
<!--<script src="app/src/app/fam/dis_card/discountCard.js"></script>-->
<!--<script src="app/src/app/fam/income_purpose/incomePurpose.js"></script>-->
<!--<script src="app/src/app/fam/refund_way/refundWay.js"></script>-->
<!--<script src="app/src/app/fam/refund_cause/refundCause.js"></script>-->
<!--<script src="app/src/app/plm/series/series.js"></script>-->
<!--<script src="app/src/app/dsm/rule/rule.js"></script>-->
<!--<script src="app/src/app/ass/workflow/workflow.js"></script>-->
<!--<script src="app/src/js/service/catalogue.js"></script>-->
<!--<script src="app/src/js/service/production.js"></script>-->
<!--<script src="app/src/js/service/shoppingCart.js"></script>-->
<script src="app/src/js/service/salesSlip.js"></script>
<script src="app/src/js/service/bookingSlip.js"></script>
<script src="app/src/js/service/auth.js"></script>
<!--<script src="app/src/js/service/bookingSlipChange.js"></script>-->
<!--<script src="app/src/js/service/dataShare.js"></script>-->
<!--<script src="app/src/js/service/discountCard.js"></script>-->
<!--<script src="app/src/js/service/refundWay.js"></script>-->
<!--<script src="app/src/js/service/ocm.js"></script>-->
<!--<script src="app/src/js/service/cbi.js"></script>-->
<!--<script src="app/src/js/service/dsm.js"></script>-->
<!--<script src="app/src/js/service/saleOrderChangeService.js"></script>-->
<!--<script src="app/src/js/service/customerAddress.js"></script>-->
<!--<script src="app/src/js/service/saleOrderReturn.js"></script>-->
<!--<script src="app/src/js/service/receipt2s.js"></script>-->
<!--<script src="app/src/js/service/refundCause.js"></script>-->
<!--<script src="app/src/js/service/area.js"></script>-->
<!--<script src="app/src/js/service/deliverWay.js"></script>-->
<!--<script src="app/src/js/service/department.js"></script>-->
<!--<script src="app/src/js/service/warehouse.js"></script>-->
<!--<script src="app/src/js/service/alipay.js"></script>-->
<!--<script src="app/src/js/service/workflow.js"></script>-->
<!--<script src="app/src/js/service/series.js"></script>-->
<!--<script src="app/src/app/taobao_data/api_config/apiConfig.js"></script>-->
<!--<script src="app/src/app/taobao_data/order/taobaoOrders.js"></script>-->
<!--<script src="app/src/js/service/taobaoOrders.js"></script>-->
<!--<script src="app/src/app/taobao_data/ecommerce_orders/ecommerceOrders.js"></script>-->
<!--<script src="app/src/js/service/ecommerceOrders.js"></script>-->
<!--<script src="app/src/app/jingdong/order/order.js"></script>-->
<!--<script src="app/src/app/jingdong/account/account.js"></script>-->
<!--<script src="app/src/app/jingdong/service/orderService.js"></script>-->
<!--<script src="app/src/app/jingdong/service/accountService.js"></script>-->
<!--<script src="app/src/app/jingdong/service/employeeService.js"></script>-->
<!--<script src="app/src/app/order/receipts/receipts.js"></script>-->
<!--<script src="app/src/js/service/receipts.js"></script>-->
<!--<script src="app/src/app/eps/receipts/receipts.js"></script>-->
<!--<script src="app/src/app/eps/epsServices.js"></script>-->
<!--<script src="app/src/app/cbi/employee/employee.js"></script>-->
<!--<script src="app/src/app/cbi/employee_password/employeePassword.js"></script>-->
<!--<script src="app/src/app/cbi/pay_way/payWay.js"></script>-->
<!--<script src="app/src/app/cbi/order_type/orderType.js"></script>-->
<!--<script src="app/src/app/cbi/return_reason/returnReason.js"></script>-->
<!--<script src="app/src/app/cbi/deliver_way/deliverWay.js"></script>-->
<!--<script src="app/src/app/cbi/warehouse/warehouse.js"></script>-->
<!--<script src="app/src/app/cbi/area/area.js"></script>-->
<!--<script src="app/src/app/cbi/department/department.js"></script>-->
<!--<script src="app/src/app/order/return_sales_orders/returnSalesOrders.js"></script>-->
<!--<script src="app/src/js/service/returnSalesOrders.js"></script>-->
<!--<script src="app/src/app/cbi/sale_type/saleType.js"></script>-->
<!--<script src="app/src/app/ocm/channel/channel.js"></script>-->
<!--<script src="app/src/app/ocm/mall/mall.js"></script>-->
<!--<script src="app/src/app/ocm/parameters/parameters.js"></script>-->
<!--<script src="app/src/js/service/fam.js"></script>-->
<!--<script src="app/src/app/taobao_data/interface_config/interfaceConfig.js"></script>-->
<!--<script src="app/src/app/taobao_data/wx_config/wxConfig.js"></script>-->
<!--<script src="app/src/app/taobao_data/alipay/alipay.js"></script>-->
<!--<script src="app/src/js/service/eps.js"></script>-->
<!--<script src="app/src/app/eps/walkThrough/walkThrough.js"></script>-->
<!--<script src="app/src/js/service/walkThrough.js"></script>-->
<!--<script src="app/src/app/fam/bank_card/bankCard.js"></script>-->
<!--<script src="app/src/app/sys/sys_res/sysRes.js"></script>-->
<!--<script src="app/src/app/sys/sys_menus/sysMenus.js"></script>-->
<!--<script src="app/src/js/service/sys.js"></script>-->
<!--<script src="app/src/app/fam/bank/bank.js"></script>-->

<script src="app/src/app/pms/order/index.js"></script>
<script src="app/src/app/pms/order/order-service.js"></script>
<script src="app/src/app/pms/duty/index.js"></script>
<script src="app/src/app/pms/duty/duty-service.js"></script>
<script src="app/src/app/pms/shop/index.js"></script>
<script src="app/src/app/pms/shop/shop-service.js"></script>

</body>
</html>