<md-dialog style="padding: 30px;min-width:750px; max-width: 900px;max-height: 500px;">
    <div layout="row">
        <div flex>
            <form name="editDuty" novalidate>
                <md-input-container>
                    <md-select ng-model="workingItem.type">
                        <md-option ng-repeat="(key, value) in PMS_BILL_TYPES" ng-value="key">
                            {{value.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-select ng-model="workingItem.payType">
                        <md-option ng-repeat="(key, value) in PMS_BILL_PAY_TYPES" ng-value="key">
                            {{value.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>{{PMS_BILL_PAY_TYPES[workingItem.payType].name}}{{PMS_BILL_TYPES[workingItem.type].name}}金额</label>
                    <input name="text" type="number" ng-model="workingItem.amount">
                </md-input-container>
                <md-input-container>
                    <label>备注</label>
                    <input name="text" type="text" ng-model="workingItem.comment">
                </md-input-container>
            </form>
            <div layout="row">
                <md-button ng-click="cancelDlg()"><i class="fa fa-times"></i>&nbsp;取消</md-button>
                <md-button ng-click="save()">
                    <i class="fa fa-check"></i>&nbsp;确定
                </md-button>
            </div>
        </div>
        <!--<div flex="50" customer-address-list param="customerAddressSelectionParam"
             select-item-callback="selectCustomerAddressCallback(customerAddress)"
             style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
        </div>-->
    </div>
</md-dialog>