<!--<div class="row m-b">-->
    <!--<div class="col-md-6 col-lg-4" ng-repeat="(key, value) in objectInfo" ng-if="value.type == 'IMAGE'">-->
        <!--<img class="fixed-img" ng-src="{{value.info}}" onerror="this.src='../src/app/styles/patterns/1.png'">-->
    <!--</div>-->
<!--</div>-->

<div class="row relative object-info break-word m-t">
    <div ng-class="value.inputSize == 0 ?  'col-md-6 col-lg-'+value.width : 'col-md-12'"
         ng-repeat="value in objectInfoValues | orderBy : 'order'"
         ng-if="value.show && value.type != 'IMAGE'"
         ng-show="showAll ? true : value.common">
        <p class="object-info__item">
            <span class="object-info__title">{{::value.desc}}</span>
            <span ng-if="value.type == 'INT' && hiddenCptList.indexOf(value.name) == -1">: {{source[value.name]}}</span>
            <span ng-if="value.type == 'STRING' && hiddenCptList.indexOf(value.name) == -1">: {{source[value.name]}}</span>
            <span ng-if="value.type == 'SELECT' && hiddenCptList.indexOf(value.name) == -1">: {{objectInfo[value.name]['options'][source[value.name]]}}</span>
            <span ng-if="value.type == 'OBJECT' && hiddenCptList.indexOf(value.name) == -1">: {{source[value.name].name}}</span>
            <span ng-if="value.type == 'DATE' && hiddenCptList.indexOf(value.name) == -1">: {{source[value.name] | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </p>
    </div>
    <div class="col-md-12" ng-show="!commonAll">
        <button class="btn btn-default btn-outline full-width no-borders" ng-click="showAll = true" ng-hide="showAll"><i
                class="fa fa-caret-down"></i></button>
        <button class="btn btn-default btn-outline full-width no-borders" ng-click="showAll = false" ng-show="showAll">
            <i class="fa fa-caret-up"></i></button>
    </div>
</div>
