<div class="text-right" ng-show="option.totalElements > 0">
    <!--<a class="pagination-button" ng-click="firstPage()">首页</a>-->
    <button class="btn btn-default" ng-click="firstPage()">
        <i class="fa fa-angle-double-left"></i>
    </button>
    <button class="btn btn-default" ng-click="prePage()">
        <i class="fa fa-angle-left"></i>
    </button>
    <button class="btn btn-default" ng-click="nextPage()">
        <i class="fa fa-angle-right"></i>
    </button>
    <button class="btn btn-default" ng-click="lastPage()">
        <i class="fa fa-angle-double-right"></i>
    </button>
    <span>&nbsp;&nbsp;{{option.currentPage+1}}/{{option.totalPage}}</span>
    <span>&nbsp;&nbsp;总数: {{option.totalElements}}</span>
</div>