<div class="main-panel">
    <div ng-show="ui_status == UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex class="right-title">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;" ng-click="showEditor(null)">
                    <ng-md-icon icon="add"></ng-md-icon>
                </md-button>
                <span>人员列表</span>
            </div>
        </div>

        <div layout="row" class="main-body border">
            <div flex class="right-body">
                <!-- basic search-->
                <div class="search-bar" layout="row" style="position: relative">
                    <!--<span style="position: absolute; top: 15px; left: 10px;">
                        <md-checkbox ng-model="selectAllFlag" aria-label="Checkbox" ng-change="selectAllAction()"></md-checkbox>
                    </span>-->
                    <md-input-container flex="30" style="margin-left: 50px;">
                        <label class="label">起始日期：</label>
                        <input type="date" ng-model="listFilterOption.startDate">
                    </md-input-container>
                    <md-input-container flex="30">
                        <label class="label">结束日期：</label>
                        <input type="date" ng-model="listFilterOption.endDate">
                    </md-input-container>
                    <!--<md-input-container flex="15" style="margin-left: 50px;" ng-show="selectedItem == null">-->
                        <!--<label>班次开始时间</label>-->
                        <!--<md-select ng-model="listFilterOption.status">-->
                            <!--<md-option ng-repeat="(key, value) in STATUS" ng-value="key">{{value.name}}</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->
                    <!--<md-input-container flex="15" ng-show="selectedItem == null">-->
                        <!--<label>班次结束时间</label>-->
                        <!--<md-select ng-model="listFilterOption.confirm">-->
                            <!--<md-option ng-repeat="(key, value) in CONFIRM" ng-value="key">{{value.name}}</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->
                    <!--<md-input-container flex="15" ng-show="selectedItem == null">-->
                        <!--<label>发布状态</label>-->
                        <!--<md-select ng-model="listFilterOption.release">-->
                            <!--<md-option ng-repeat="(key, value) in RELEASE" ng-value="key">{{value.name}}</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->
                    <md-input-container flex style="margin-left: 50px;" >
                        <label>输入关键字查询</label>
                        <input ng-model="theMax">
                    </md-input-container>
                    <!--<span style="padding-top: 10px;">-->
                        <!--<md-button class="md-icon-button" aria-label="Eat cake" ng-click="showAdvancedSearchAction()">-->
                            <!--<ng-md-icon icon="expand_more" ng-show="!displayAdvancedSearPanel"></ng-md-icon>-->
                            <!--<ng-md-icon icon="expand_less" ng-show="displayAdvancedSearPanel"></ng-md-icon>-->
                        <!--</md-button>-->
                    <!--</span>-->
                </div>
                <!-- advanced search-->
                <!--<div layout="row" ng-show="displayAdvancedSearPanel">-->
                    <!--&lt;!&ndash; fill more searching here.&ndash;&gt;-->
                    <!--<div flex>-->
                        <!--Have you stuff here...-->
                    <!--</div>-->
                <!--</div>-->
                <!-- status panel-->
                <div layout="row" layout-warp layout-padding layout-margin ng-show="!selectedItem" style="margin: 20px 0px 20px 0px; padding-left: 60px;background-color: whitesmoke;position: relative;height: 50px;padding-top: 15px;">
                    <span flex="20">人员总数: {{pageOption.totalElements}}</span>
                </div>
                <div ng-repeat="item in itemList | orderBy:sortByField" ng-class="selectedItem.no == item.no ? 'selected-item':''">
                    <div><!-- class="summary-item"-->
                        <div layout="row" layout-wrap>
                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px;font-size: 14px;" layout-align="space-between center" ng-hide="selectedItem">
                                <div layout="row" flex style="color:#7f8fa4" >
                                    <div flex="20">
                                        <div layout-padding>姓名 :  <span>{{item.nickName}}</span></div>
                                    </div>
                                    <div flex="20">
                                        <div layout-padding>账户名 :  <span>{{item.name}}</span></div>
                                    </div>
                                    <div flex="20">
                                        <div layout-padding>角色 :  <span>{{PMS_USER_ROLES[item.role].name}}</span></div>
                                    </div>
                                </div>
                                <div layout="row" layout-align="end center">
                                    <md-button ng-if="item.name != 'admin'" class="md-button close-btn" aria-label="More" ng-click="deleteClickAction(item)" style="position: relative;left: 15px; color:blue;">
                                        删除
                                    </md-button>
                                </div>
                                <!--<div layout="row" layout-align="end center">
                                    <md-button class="md-button close-btn" aria-label="More" ng-click="showEditor(item)" style="position: relative;left: 15px; color:blue;">
                                        编辑
                                    </md-button>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <!--<div layout="row" layout-wrap ng-show="item.showMorePanel && !selectedItem" style="font-size: 14px;">
                        <div flex="100" ng-repeat="detail in item.detailList" style="padding: 10px 20px 0px 20px;">
                            <md-divider></md-divider>
                            <div layout="row" style="height: 100%;">
                                <div flex="20">
                                    <img style="max-height: 150px;padding-top: 10px;" ng-src="app/img/item.jpeg" >
                                </div>
                                <div flex="40">
                                    <div layout-padding>商品名称 :  <span>{{detail.item.name}}</span></div>
                                    <div layout-padding>商品编号 :  <span>{{detail.item.no}}</span></div>
                                    <div layout-padding>商品品牌 :  <span>{{detail.item.brand.name}}</span></div>
                                </div>
                                <div flex="40">
                                    <div layout-padding>是否定制 :  <span>{{CUSTOMIZE_FLAG[orderDetail.customizeFlag].name}}</span></div>
                                    <div layout-padding>商品属性 :  <span>{{detail.itemAttribute}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                    <div layout-padding>销售类型 :  <span>{{detail.saleType.name}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <md-divider></md-divider>
                </div>
                <div pagination option="pageOption" callback="refreshList()"></div>
            </div>
        </div>
    </div>

    <div ng-if="ui_status != UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="100" class="left-title">
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="listItemAction()" style="float: left; margin-left: 36px;"  >
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
                <span>{{desc}}</span>
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="saveItemAction()">
                    <ng-md-icon icon="save"></ng-md-icon>
                </md-button>
            </div>
        </div>

        <object-editor class="object-editor" status="status" source="source" domain="domain"></object-editor>
    </div>

</div>
