<div layout="row" >
    <div flex="33"  layout="column" layout-padding>
        <md-input-container >
            <label class="label">部门：</label>
            <input type="text" ng-model="selectedOrder.employee.department.name" required md-maxlength="20"
                   ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">销售单号：</label>
            <input type="text" ng-model="selectedOrder.no" required md-maxlength="20"
                   ng-disabled="true">
        </md-input-container>
        <md-input-container>
            <label class="label">商场合同号：</label>
            <input type="text" ng-model="selectedOrder.contractNo" required
                   md-maxlength="20"
                   ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">客户姓名：</label>
            <input type="text" ng-model="selectedOrder.customer.name" required md-maxlength="20"
                   ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">收货人电话：</label>
            <input type="text" ng-model="selectedOrder.receivePhone" required md-maxlength="20"
                   ng-disabled="true">
            <md-button ng-click="openSelectAddressDlg(selectedOrder)"
                       class="md-icon-button" style="position:absolute;right:0;bottom:15px;">
                <i class="fa fa-search"></i>
            </md-button>
        </md-input-container>
        <md-input-container>
            <label class="label">收货人姓名：</label>
            <input type="text" ng-model="selectedOrder.receiveName" required
                   ng-disabled="true">
            <md-button ng-click="openSelectAddressDlg(selectedOrder)"
                       class="md-icon-button" style="position:absolute;right:0;bottom:15px;">
                <i class="fa fa-search"></i>
            </md-button>
        </md-input-container>
        <md-input-container >
            <label class="label">送货日期：</label>
            <input type="text" ng-model="selectedOrder.deliverDate" required md-maxlength="20"
                   value = "{{selectedOrder.deliverDate| date:'yyyy-MM-dd'}}">
        </md-input-container>


        <md-input-container >
            <label class="label">预计送货日期：</label>
            <input type="text" ng-model="selectedOrder.predictDeliverDate" required
                   md-maxlength="20">
        </md-input-container>
        <md-input-container >
            <label class="label">送货方式：</label>
            <input type="text" ng-model="selectedOrder.deliverWay.name" required md-maxlength="20"
                   ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">收货人地址：</label>
            <input type="text" ng-model="selectedOrder.receiveAddress" required md-maxlength="20"
                   ng-disabled="true">
            <md-button ng-click="openSelectAddressDlg(selectedOrder)"
                       class="md-icon-button" style="position:absolute;right:0;bottom:15px;">
                <i class="fa fa-search"></i>
            </md-button>
        </md-input-container>
        <md-input-container >
            <label class="label">收货人地区：</label>
            <input type="text" ng-model="selectedOrder.receiveDistrict" required md-maxlength="20"
                   ng-disabled="true">
        </md-input-container>
    </div>
    <div flex="33" layout="column" layout-padding>
        <md-input-container >
            <label class="label">合计金额：</label>
            <input type="text" ng-model="selectedOrder.standardAmount" required ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">已付金额：</label>
            <input type="text" ng-model="selectedOrder.paidAmount" required ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">折扣金额：</label>
            <input type="number" ng-model="selectedOrder.discountAmount" required ng-disabled="true">
        </md-input-container>


        <md-input-container >
            <label class="label">折后金额：</label>
            <input type="number" ng-model="selectedOrder.orderAmount" required ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">折扣率：</label>
            <input type="number" ng-model="selectedOrder.discountRate" required ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">整单折扣率：</label>
            <input type="number" ng-model="selectedOrder.orderDiscountRate" required ng-disabled="true">
        </md-input-container>

        <md-input-container layout="row" style=" height: 79px;">
            <div class ="md-input-has-value" ><label>电梯：</label></div>
            <md-select placeholder="" ng-model="selectedOrder.customerAddress.liftFlag" class="select"  ng-disabled="true">
                <md-option value="1">有</md-option>
                <md-option value="2">无</md-option>
            </md-select>
        </md-input-container>

        <md-input-container >
            <label class="label">打印次数：</label>
            <input type="text" ng-model="selectedOrder.printTimes" required
                   ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">备注：</label>
            <input type="text" ng-model="selectedOrder.remark" required md-maxlength="20"
                   ng-disabled="true">
        </md-input-container>
    </div>
    <div flex="33" layout="column" layout-padding>

        <md-input-container >
            <label class="label">应收定金：</label>
            <input type="text" ng-model="selectedOrder.paidAmount" required ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">已收款比率：</label>
            <input type="text" ng-model="selectedOrder.paidRate" required ng-disabled="true">
        </md-input-container>
        <md-input-container >
            <label class="label">应收余款：</label>
            <input type="text" ng-model="selectedOrder.unpaidAmount" required ng-disabled="true">
        </md-input-container>
        <md-input-container>
            <label class="label">赠品金额：</label>
            <input type="text" ng-model="selectedOrder.presentAmount" required
                   ng-disabled="true">
        </md-input-container>
        <md-input-container layout="row"  style=" height: 70px;">
            <div class ="md-input-has-value" ><label>审核状态：</label></div>
            <md-select style="margin:10px; padding:0;" placeholder="" ng-model="selectedOrder.confirm" class="select"
                       ng-disabled="true">
                <md-option value="1">未审核</md-option>
                <md-option value="2">已审核</md-option>
                <md-option value="3">审核中</md-option>
                <md-option value="4">退回</md-option>
            </md-select>
        </md-input-container>

        <md-input-container layout="row" style=" height: 79px;">
            <md-checkbox style=" padding: 0px 0px 0px 20px;" ng-model="selectedOrder.transferPsoFlag" required ng-disabled="true"
                         aria-label="抛转预订单否"  ng-true-value="'1'" ng-false-value="'2'" > 抛转预订单否</md-checkbox>
        </md-input-container>
        <md-input-container layout="row" style=" height: 79px;">
            <md-checkbox style=" padding: 0px 0px 0px 25px;"
                         ng-model="selectedOrder.closeFlag" required
                         ng-disabled="true"
                         aria-label="结案否" ng-true-value="'2'" ng-false-value="'1'"> 结案否
            </md-checkbox>
        </md-input-container>
        <md-input-container layout="row" style=" height: 79px;">
            <md-checkbox style=" padding: 0px 0px 0px 25px;"
                         ng-model="selectedOrder.finishFlag" required
                         ng-disabled="true"
                         aria-label="交易完成否" ng-true-value="'2'" ng-false-value="'1'">
                交易完成否
            </md-checkbox>
        </md-input-container>
        <md-input-container layout="row" style=" height: 79px;">
            <md-switch style=" padding: 0px 0px 0px 25px;"
                       ng-model="selectedOrder.status"
                       ng-disabled="true"
                       aria-label="失效作废" ng-true-value="'1'" ng-false-value="'2'"   >&nbsp;失效作废
            </md-switch>
        </md-input-container>

    </div>
</div>