<md-dialog style="padding: 30px;opacity: 1;">
    <md-content>
        <div layout="row">
            <form name="selectedDataForm" novalidate>

                <md-input-container>
                    <label>角色</label>
                    <md-select ng-model="selectedRole.uuid">
                        <md-option ng-repeat="role in allRoles" value="{{role.uuid}}">
                            {{role.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <div layout="row">
                    <md-button ng-click="hideDlg()" ng-disabled="selectedDataForm.$invalid">
                        <i class="fa fa-check"></i>&nbsp;确定
                    </md-button>
                    <md-button ng-click="cancelDlg()"><i class="fa fa-times"></i>&nbsp;取消</md-button>
                </div>
            </form>
        </div>
    </md-content>
</md-dialog>