<div class="menu">
    <md-content  style="background:#f5f5f5">
        <div layout="row" layout-sm="column" layout-align="center left">
            <div ng-click="menuAction(500)" ng-if="itemOperationMenuDisplayOption['500-item-edit'].display"><i class="fa fa-pencil"></i>&nbsp;{{itemOperationMenuDisplayOption['500-item-edit'].name}}</div>
            <div ng-click="menuAction(501)" ng-if="itemOperationMenuDisplayOption['501-item-delete'].display"><i class="fa fa-file-text"></i>&nbsp;{{itemOperationMenuDisplayOption['501-item-delete'].name}}</div>
          </div>
    </md-content>
</div>