<div layout="column">
    <div flex layout="column" class="order-item-background"  ng-if="orderListMenu.showQueryBar">
        <div  class="menu"  layout="row" layout-md="column" layout-sm="column">
            <md-input-container >
                <label >起始日期：</label>
                <input type="date"  ng-model="orderListMenu.startDate" />
            </md-input-container>
            <md-input-container >
                <label >截止日期：</label>
                <input  type="date" ng-model="orderListMenu.endDate" />
            </md-input-container>
            <md-input-container >
                <label >{{orderListMenu['orderMasterNo'].name}}：</label>
                <input  ng-model="orderListMenu.orderId" />
            </md-input-container>
            <md-input-container ng-if="orderListMenu.showPsoOrderMstNo">
                <label >来源单号：</label>
                <input  ng-model="orderListMenu.psoOrderMstNo" />
            </md-input-container>
            <md-input-container >
                <label >客户：</label>
                <input ng-model="orderListMenu.clientName" />
            </md-input-container>
            <md-input-container ng-if="orderListMenu.showEmployee">
                <label >导购：</label>
                <input ng-model="orderListMenu.employeeName" />
            </md-input-container>
        </div>
        <div class="menu"  layout="row" layout-md="column" layout-sm="column">

            <div layout="row" layout-md="column" layout-sm="column" style="margin-left: 10px;">
                <label class="label">启用状态：</label>
                <md-select placeholder="" ng-model="orderListMenu.status" class="select">
                    <md-option ng-repeat="(key, value) in STATUS" ng-value="key">{{value.name}}</md-option>
                </md-select>
            </div>
            <div layout="row" layout-md="column" layout-sm="column" style="margin-left: 10px;">
                <label class="label">审核状态：</label>
                <md-select placeholder="全部" ng-model="orderListMenu.confirm" class="select">
                    <md-option ng-repeat="(key, value) in AUDIT" ng-value="key">{{value.name}}</md-option>
                </md-select>
            </div>
            <div layout="row" layout-md="column" layout-sm="column" style="margin-left: 10px;"  >
                <label class="label">抛转状态：</label>
                <md-select placeholder="全部" ng-model="orderListMenu.transferPsoFlag" class="select">
                    <md-option ng-repeat="(key, value) in TRANSFER_PSO_FLAG" ng-value="key">{{value.name}}</md-option>
                </md-select>
            </div>
            <md-button class="md-raised"
                       ng-if="orderListMenuDisplayOption['405-query'].display && (menuAuthDataMap[orderListMenuDisplayOption['405-query'].uuid] || isAdmin() || !orderListMenuDisplayOption['405-query'].uuid)"
                       style="margin-top: 22px;height: 20px;"  ng-click="orderListMenuAction(405, $event)">&nbsp;{{orderListMenuDisplayOption['405-query'].name}}
            </md-button>
        </div>
    </div>

<!--  all the input fields in the same line， not material style
    <div flex layout="row" layout-md="column" layout-sm="column" layout-align="space-around left"  class="menu" style="background:#bdbdbd" >

        <div class="time-date" layout="row" layout-md="column" layout-sm="column">
            <label class="label" >起始日期：</label>
            <input type="date"  placeholder="yyyy-MM-dd" ng-model="orderListMenu.startDate" />
        </div>
        <div  class="time-date" layout="row" layout-md="column" layout-sm="column">
            <label class="label">截止日期：</label>
            <input type="date"  placeholder="yyyy-MM-dd" ng-model="orderListMenu.endDate" />
        </div>

        <div   layout="row" layout-md="column" layout-sm="column">
            <label class="label">{{orderListMenuDisplayOption['406-orderId-input'].name}}：</label>
            <input type="text"  placeholder="yyyy-MM-dd" ng-model="orderListMenu.orderId" />
        </div>
        <div  layout="row" layout-md="column" layout-sm="column">
            <label class="label">{{orderListMenuDisplayOption['407-client-input'].name}}：</label>
            <input type="text"  ng-model="orderListMenu.clientName" />
        </div>


        <div layout="row" layout-md="column" layout-sm="column" >
            <label class="label">审核状态：</label>
            <md-select placeholder="全部" ng-model="orderListMenu.confirm" class="select">
                <md-option ng-repeat="(key, value) in AUDIT" ng-value="key">{{value.name}}</md-option>
            </md-select>
        </div>

        <md-button class="md-raised"  ng-if="orderListMenuDisplayOption['405-query'].display"
                   ng-click="orderListMenuAction(405, $event)">&nbsp;{{orderListMenuDisplayOption['405-query'].name}}
        </md-button>
    </div>
-->

    <div flex style="padding: 20px 0px 0px 0px;"   layout="row" layout-md="column" layout-sm="column" layout-align="space-around left"
         ng-show="ui_status != UI_STATUS.EDIT_UI_STATUS_MODIFY && ui_status != UI_STATUS.EDIT_UI_STATUS_ADD">
        <div flex="40" layout="row"  layout-md="column" layout-sm="column" >
            <md-checkbox ng-model="orderListMenu.selectAll"   ng-change="orderListMenuAction(400, $event)"
                         ng-if="orderListMenuDisplayOption['400-selectAll'].display "
                         aria-label="全选"  ng-true-value="true" ng-false-value="false"> &nbsp;{{orderListMenuDisplayOption['400-selectAll'].name}}</md-checkbox>

            <md-switch ng-model="orderListMenu.effectiveType"  ng-change="orderListMenuAction(404, $event)"
                       ng-if="orderListMenuDisplayOption['404-effective'].display && (menuAuthDataMap[orderListMenuDisplayOption['404-effective'].uuid] || isAdmin() || !orderListMenuDisplayOption['404-effective'].uuid)"
                       aria-label="失效作废" ng-true-value="'1'" ng-false-value="'2'" ng-disabled="effectiveType_disabled == 1" >&nbsp;{{orderListMenuDisplayOption['404-effective'].name}}</md-switch>
        </div>

        <div flex layout="row" layout-align="end center">
            <div ng-if="orderListMenuDisplayOption['401-audit'].display && (menuAuthDataMap[orderListMenuDisplayOption['401-audit'].uuid] || isAdmin() || !orderListMenuDisplayOption['401-audit'].uuid)">
                <md-button class="md-raised" ng-click="orderListMenuAction(401, $event)"
                           style="margin-top: 0px;height: 20px;" aria-label="审核"
                           ng-disabled="audit_button_disabled == 1"> &nbsp;{{orderListMenuDisplayOption['401-audit'].name}}
                </md-button>
            </div>
            <div ng-if="orderListMenuDisplayOption['402-return'].display && (menuAuthDataMap[orderListMenuDisplayOption['402-return'].uuid] || isAdmin() || !orderListMenuDisplayOption['402-return'].uuid)">
                <md-button class="md-raised" ng-click="orderListMenuAction(402, $event)"
                           style="margin-top: 0px;height: 20px;" aria-label="退回"
                           ng-disabled="return_button_disabled == 1"> &nbsp;{{orderListMenuDisplayOption['402-return'].name}}
                </md-button>
            </div>
            <div ng-if="orderListMenuDisplayOption['406-revertAudit'].display && (menuAuthDataMap[orderListMenuDisplayOption['406-revertAudit'].uuid] || isAdmin() || !orderListMenuDisplayOption['406-revertAudit'].uuid)">
                <md-button class="md-raised" ng-click="orderListMenuAction(406, $event)"
                           style="margin-top: 0px;height: 20px;" aria-label="取消审核"
                           ng-disabled="revert_audit_button_disabled == 1"> &nbsp;{{orderListMenuDisplayOption['406-revertAudit'].name}}
                </md-button>
            </div>
            <div ng-if="orderListMenuDisplayOption['403-throw'].display && (menuAuthDataMap[orderListMenuDisplayOption['403-throw'].uuid] || isAdmin() || !orderListMenuDisplayOption['403-throw'].uuid)">
                <md-button class="md-raised" ng-click="orderListMenuAction(403, $event)"
                           style="margin-top: 0px;height: 20px;" aria-label="抛转预订单"
                           ng-disabled="throw_button_disabled == 1"> &nbsp;{{orderListMenuDisplayOption['403-throw'].name}}
                </md-button>
            </div>
            <div ng-if="orderListMenuDisplayOption['407-oneOffSync'].display && (menuAuthDataMap[orderListMenuDisplayOption['407-oneOffSync'].uuid] || isAdmin() || !orderListMenuDisplayOption['407-oneOffSync'].uuid)">
                <md-button class="md-raised" ng-click="orderListMenuAction(407, $event)"
                           style="margin-top: 0px;height: 20px;" aria-label="一键抛转"
                           ng-disabled="throw_button_disabled == 1"> &nbsp;{{orderListMenuDisplayOption['407-oneOffSync'].name}}
                </md-button>
            </div>
        </div>
    </div>
</div>




