<md-dialog style="padding: 30px;min-width: 400px;max-height: 500px;">
    <md-content layout="column">
        <div>
            <form name="searchChannel" novalidate="">
                <div layout="row" layout-align="start center">
                    <md-input-container flex>
                        <label>输入渠道名称</label>
                        <input name="no" type="text" ng-model="searchKeyword" md-maxlength="20">
                    </md-input-container>
                    <md-button ng-click="queryAction()" ng-disabled="searchChannel.$invalid" class="md-icon-button">
                        <i class="fa fa-search"></i>
                    </md-button>
                    <md-button ng-click="cancelDlg()" class="md-icon-button">
                        <i class="fa fa-times"></i>
                    </md-button>
                </div>
                <md-list-item class="md-2-line" ng-repeat="channel in allChannel.content | orderBy:'no'"
                              ng-click="selectChannel(channel)">
                    <div class="md-list-item-text">
                        <h3> {{channel.mall.name}}&nbsp;|&nbsp;{{ channel.no }}&nbsp;|&nbsp;{{ channel.name }} </h3>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </form>
            <div pagination option="pageOption" callback="refreshChannel()"></div>
        </div>
    </md-content>
</md-dialog>