*{
    font-family: 'Open Sans', 'Microsoft Yahei', '微软雅黑', STXihei, '华文细黑', sans-serif;
}

body {
    /*overflow-x: hidden;*/
}

.partial-text {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

md-input-container {
    /*padding: 10px;*/
}

md-input-container .md-input, .select-input .md-select-value > span {
    color: black !important;
}

md-input-container.md-default-theme label,
md-input-container.md-default-theme .md-placeholder{
    color:black
}

md-select[disabled] .md-select-value {
    color:black
}

md-checkbox[disabled] .md-label {
    color:black
}

md-tabs-canvas {
    height: 60px;
    background-color: lightgray;
}

md-pagination-wrapper {
    height: 60px;
}

md-tabs {
    border-radius: 0px;
}

.md-tab {
    font-size: 17px;
    padding: 20px 24px;
}

.gray-border {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.md-char-counter {
    display: none;
}

.time-date {
    padding: 10px;
}

.time-date label{
    padding-right: 10px;
}

.time-date input {
    border: 0px;
    border-bottom: 1px solid lightgray;
}

.highlight {
    color: red;
}

.chip {
    background-color: lightgray;
    padding: 8px 20px;
    border-radius: 21px;
    margin: 5px;
}

.chip-remove {
    cursor: pointer;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.icon-btn {
    padding: 10px;
}

.icon-btn:hover {
    color: #f5f5f5;
    cursor: pointer;
}

.main-font {
    font-size: 14px;
}

.search-label {
    color: #f5f5f5;
}

.centre {
    text-align: center;
}

.menu-bar {
    background: #f7f7f7;
    border-radius: 3px;
    /*margin: 1em;*/
    position: relative !important;
}

/*.md-button {*/
    /*color: black !important;*/
/*}*/

.circle-select {
    background-color: lightgray;
    border-radius: 29px;
    min-width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 10px;
    font-size: 14px;
}

.highlight-chip {
    background-color: blue !important;
    color: white !important;
}
/*.layout-max-width {*/
    /*width: 100%;*/
    /*max-width: 1200px;*/
    /*margin: auto;*/
/*}*/

.banner-top {
    height: 30px;
}

.banner-1 {
    height : 50px;
    background-color: rgb(79, 73, 73);

}

.banner-1__title {
    padding: 10px 20px;
    display: inline-block;
    font-size: 22px;
    color: white;
}

.banner-2 {
    background-color: gray;
    height : 50px;
    margin-left: -1px;
    color: #FFF;
}

.banner-3 {

}

.banner-4 {

}

.banner-size {
    font-size: 20px;
}

.menu-title {
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
}

.sub-menu {
    padding-left: 30px;
    text-align: left;
    cursor: pointer;
}

.sub-menu .sub-menu-item {
    padding-left: 30px;
    font-size: 14px;
}

.sub-menu:hover, .menu-title:hover {
    background-color: #f5f5f5;
}

.sub-menu .suffix {
    top: -5px;
    position: relative;
    color: red;
    font-size: 10px;
}

.user-info-panel {
    height: 60px;
    background-color: gray;
}

.user-info-panel .text {
    color: white;
    font-size: 14px;
}

.user-info-panel .avatar {
    font-size: 45px;
    color: white;
}

.selected {
    color: red;
}

.add-new, .right-container .add-new {
    text-align: center;
    padding: 30px;
    border: 3px dashed #f5f5f5;
    font-size: 20px;
    cursor: pointer;
    margin: 8px;
}

.add-new:hover, .right-container .add-new:hover {
    background-color: lightgrey;
}


.right-container .menu .label {
    position: relative;
    top: 27px;
}
.right-container .menu .select {
    /*padding: 5px 20px 5px 5px;*/
    font-size: 15px;
    padding-right: 25px;
}

/*template */
.catalogue-template .template-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.catalogue-template .template_item_left {
    padding-top: 15px;
}

.catalogue-template .template_item_right {
    padding-top: 15px;
    font-size: 12px;
}

.catalogue-template .template_item_right.edit {
    text-align: center;
}

.catalogue-template .template_item_right.edit:hover {
    background-color: lightgrey;
}

.catalogue-template .template-item-no {
    font-size: 14px;
}

.catalogue-template .template-item-name {
    font-size: 12px;
}

.catalogue-template .template-item-content {
    margin: 7px 0px 10px 0px;
    padding: 10px;
}

.catalogue-template .delete-on-chip {
    padding: 10px;
    cursor: pointer;
}

.catalogue-template .editor-container {
    font-size: 15px;
}

.catalogue-template .formList .md-chip-content md-chip-template {
    cursor: pointer;
}

.catalogue-template .formList .md-chip-content md-chip-template span{
    padding: 5px 5px 5px 15px;
}

@media (min-width: 1000px) {
    .catalogue-template .editor-container {
        width: 50%;
        font-size: 15px;
    }
}

.catalogue-template .template-data {
    border-collapse: collapse;
}

.catalogue-template .template-data .title{
    padding: 5px 8px 5px 12px;
    margin: 5px 8px 5px 0px;
    font-size: 13px;
}

.catalogue-template .template-data th{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.catalogue-template .template-data td
{
    /*border-right: 1px solid lightgrey;*/
    vertical-align: top;
}

.catalogue-template .template-data .item{
    padding: 8px 12px 8px 12px;
    font-size: 13px;
}
.catalogue-template .template-data .plus
{
    text-align: center;
    color: grey;
}

.catalogue-template .template-data .item:hover, .catalogue-template .template-data .selected-item{
    cursor: pointer;
    background-color: lightgrey;
}

.select-template:hover {
    -webkit-box-shadow: 1px 1px 20px 5px rgba(230, 16, 16, 1);
    -moz-box-shadow: 1px 1px 20px 5px rgba(230, 16, 16, 1);
    box-shadow: 1px 1px 20px 5px rgba(230, 16, 16, 1);
    cursor: pointer;
}

.catalogue-img {
    max-width: 200px;
}


/*Production*/

.prod {
    
}

.prod .prod-item {
    font-size: 13px;
    position: relative;
    padding-bottom: 35px;
    border-bottom: 1px solid #f5f5f5;
}

.prod .prod-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.prod .prod-item.quick-view {
}
.prod .prod-item.quick-view:hover {
    background-color: white;
    cursor: auto;
}

.prod .prod-item .content {
}

.prod .prod-item .content .left {
    padding: 20px;
}

.prod .prod-item .content .right {
}

.prod .prod-item .name, .prod .name {
    color: #999;
    vertical-align: top;
    padding: 3px;
 }

.prod .prod-item .value, .prod .value {
    vertical-align: top;
    padding: 3px;
}

.prod .prod-item .content .property,  .prod .prod-item .property{
    padding: 6px;
    padding-left: 14px;
}

.prod .prod-sm-img {
    /*max-width:120px;*/
    max-width: 100%;
    max-height: 100%;
}

.prod .prod-sm-img-big {
    /*max-width:200px;*/
    max-width: 100%;
    max-height: 100%;
}

.prod .prod-sm-img-quick-view {
    max-width: 200px;
}

.prod .quick-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    margin: 5px;
}
.prod .quick-button:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

.prod .prod-item.detail-view:hover {
    background-color: white;
    cursor: auto;
}

.prod .formList {
    font-size: 14px;
}

.prod .select-input {
    margin-left: 10px;
}


/* prod-link */
.prod-link {
}
.prod-link .highlight-prod {
    background-color: lightgrey;
}

.prod-link .template-item .md-select-value {
    background-color: lightgray;
    border-radius: 29px;
    min-width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 10px;
    font-size: 14px;
    color: black !important;
}

/* shoppingcart */
.shoppingcart {

}
.odd-line {
  background-color: #f5f5f5;
}
.odd-line:hover {
  background-color: #E0E0E0;
}
.even-line {
   background-color: #f5f5f5;
}
.even-line:hover {
   background-color: #E0E0E0;
}


/* sales-slip*/
.sales-slip {

}
 .order-item-background {
    background-color: #f5f5f5;
}
 .order-item-background:hover {
    background-color: #E0E0E0;
}
 .order-toolbar-background {
    background-color: #BDBDBD;
}

div.table-item{
   padding: 15px 0px 10px 0px;
    margin: 1px 1px 1px 1px;
    font-size: 13px;
    background:#F5F5F5;
}

.verticalLine {
  border-right: 1px solid;
  border-right-color: lightgrey;
}

div.table-head{
   padding: 10px 0px 10px 0px;
    margin: 1px 1px 1px 1px;
    font-size: 13px;
    background:#BDBDBD;
}

.taobao-orders .img {
    max-width: 100%;
    max-height: 100%;
}

.ecommerce-orders .img {
    max-width: 100%;
    max-height: 100%;
}