<md-dialog style="padding: 30px;">
    <md-content layout="column">
        <div>
            <form name="copyTemplateForm" novalidate>
                <md-input-container>
                    <label>编号</label>
                    <input name="no" type="text" ng-model="data.no" required md-maxlength="20">
                </md-input-container>

                <md-input-container>
                    <label>名称</label>
                    <input name="name" type="text" ng-model="data.name" required md-maxlength="20">
                </md-input-container>

                <div layout="row">
                    <md-button ng-click="hideDlg()">
                        <i class="fa fa-check"></i>&nbsp;创建
                    </md-button>
                    <md-button ng-click="cancelDlg()"><i class="fa fa-times"></i>&nbsp;取消</md-button>
                </div>
            </form>
        </div>
    </md-content>
</md-dialog>