<div class="main-panel">

    <div ng-show="ui_status == UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="70" hide-sm hide-md class="left-title" ng-show="selectedItem" style="position: relative;">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;"
                           ng-click="editItemAction(selectedItem, 'FAM_BASE_DISCOUNT_CARD', '优惠券: ' + selectedItem.no)">
                    <ng-md-icon icon="edit"></ng-md-icon>
                </md-button>
                <md-menu>
                    <md-button class="md-icon-button close-btn" aria-label="More" style="float: left;"
                               ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">

                        <md-menu-item>
                            <md-button class="md-button" aria-label="More" ng-disabled="deleteClickActionStatus == 1"
                                       ng-if="menuDisplayOption['405-delete'].display && (menuAuthDataMap[menuDisplayOption['405-delete'].uuid] || isAdmin() || !menuDisplayOption['405-delete'].uuid)"
                                       ng-click="deleteClickAction($event, selectedItem)">
                                <ng-md-icon icon="delete"></ng-md-icon>
                                &nbsp;{{menuDisplayOption['405-delete'].name}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <span>优惠券详细信息</span>
                <md-button class="md-icon-button close-btn float-right" aria-label="More"
                           ng-click="returnToListAction($event, selectedItem)">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
            </div>
            <div flex class="right-title">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;"
                           ng-click="preAddItemAction({}, 'FAM_BASE_DISCOUNT_CARD')">
                    <ng-md-icon icon="add"></ng-md-icon>
                </md-button>
                <span>优惠券列表</span>
                <md-menu>
                    <md-button class="md-icon-button close-btn float-right" aria-label="More"
                               ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">

                        <md-menu-item>
                            <md-button class="md-button" aria-label="More" ng-disabled="deleteAllClickActionStatus == 1"
                                       ng-if="menuDisplayOption['415-deleteAll'].display && (menuAuthDataMap[menuDisplayOption['415-deleteAll'].uuid] || isAdmin() || !menuDisplayOption['415-deleteAll'].uuid)"
                                       ng-click="deleteAllClickAction($event)">
                                <ng-md-icon icon="delete"></ng-md-icon>
                                &nbsp;{{menuDisplayOption['415-deleteAll'].name}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div layout="row" class="main-body border">
            <div flex="70" hide-sm hide-md layout="column" class="left-body" ng-show="selectedItem">
                <div flex="100" layout-padding>
                    <div layout="row" layout-padding style="font-size: 20px;padding-top: 2px; font-weight: bold;">
                        <span flex>编号: {{selectedItem.no}}</span>
                    </div>
                    <md-divider></md-divider>

                    <div layout="row" layout-wrap layout-margin>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">优惠券编号</span>
                            <span class="item-content">{{selectedItem.no}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">优惠券名称</span>
                            <span class="item-content">{{selectedItem.name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">卡券类型</span>
                            <span class="item-content">{{selectedItem.discountCartType.name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">卡券发行方</span>
                            <span class="item-content">{{PROMULGATOR[selectedItem.promulgator].name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">承担方式</span>
                            <span class="item-content">{{COST_TYPE[selectedItem.costType].name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">卡券商场承担金额</span>
                            <span class="item-content">{{selectedItem.mallCost}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">卡券经销商承担金额</span>
                            <span class="item-content">{{selectedItem.dealerCost}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">卡券集团承担金额</span>
                            <span class="item-content">{{selectedItem.groupCost}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">退还标识</span>
                            <span class="item-content">{{REFUND_TYPE[selectedItem.refundType].name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">卡券适用商品类型</span>
                            <span class="item-content">{{selectedItem.suitItemType}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">卡券使用条件</span>
                            <span class="item-content">{{CARD_CONDITION[selectedItem.cardCondition].name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">特定商品卡券标识</span>
                            <span class="item-content">{{SPECIFIC_CARD_FLAG[selectedItem.specificCardFlag].name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">起始时间</span>
                            <span class="item-content">{{selectedItem.startTime | date:'yyyy-MM-dd'}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">结束时间</span>
                            <span class="item-content">{{selectedItem.overTime | date:'yyyy-MM-dd'}}</span>
                        </span>

                    </div>
                    <md-tabs md-dynamic-height md-border-bottom style="padding-top: 30px;">
                        <md-tab label="产品信息">
                            <div layout-wrap>
                                <div class=" md-layout-row" style="background-color:whitesmoke">
                                    <md-checkbox ng-model="selectDetailAllFlag" aria-label="Checkbox"
                                                 ng-change="selectDetailAllAction()"></md-checkbox>
                                    <button class="md-button md-default-theme"
                                            ng-click="openBatchUpdateChan(detailSelected)"
                                            ng-disabled="detailSelected.length<=0">
                                        <ng-md-icon icon="edit"></ng-md-icon>
                                        <span class="ng-scope">批量修改</span>
                                    </button>
                                </div>
                                <div flex="100" ng-repeat="detail in subItemList" ng-click="" class="prod-item"
                                     style="position: relative;padding-bottom: 0px; min-height: 120px;margin-top: 10px;">
                                    <div layout="row">
                                        <div flxe="5">

                                            <md-checkbox aria-label="Checkbox"
                                                         ng-checked="exists(detail, detailSelected)"
                                                         ng-click="selectDetailItemAction($event, detail, detailSelected)"></md-checkbox>

                                        </div>
                                        <div flex="60">
                                            <div layout-padding>可用門店 : <span>{{detail.channel.name}}</span></div>
                                            <div layout-padding>可用门店起始時間 : <span>{{detail.startTime | date:'yyyy-MM-dd'}}</span>
                                            </div>
                                            <div layout-padding>可用门店结束时间
                                                :<span>{{detail.overTime | date:'yyyy-MM-dd'}}</span></div>
                                        </div>

                                        <div flex="35">
                                            <md-button class="md-button close-btn" aria-label="More"
                                                       ng-click="deleteDetailAction(detail)">
                                                <ng-md-icon icon="remove_circle_outline" size="20"></ng-md-icon>
                                                删除
                                            </md-button>
                                            <md-button class="md-button close-btn" aria-label="More"
                                                       ng-click="editItemAction(detail, 'FAM_BASE_DISCOUNT_CARD_CHAN', '門店: ' + detail.channel.name)">
                                                <ng-md-icon icon="edit" size="20"></ng-md-icon>
                                                编辑
                                            </md-button>
                                        </div>
                                    </div>

                                    <md-divider style="margin-top: 5px"></md-divider>
                                </div>
                                <div flex="100" class="add-new" style="margin: 10px 0 0 0;"
                                     ng-click="preAddItemAction({}, 'FAM_BASE_DISCOUNT_CARD_CHAN', '新增可用門店')">
                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;点击新增...</a>
                                </div>
                            </div>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>

            <div flex class="right-body">
                <!-- basic search-->

                <div class="search-bar" layout="row" style="position: relative">
                    <span style="position: absolute; top: 15px; left: 10px;">
                        <md-checkbox ng-model="selectAllFlag" aria-label="Checkbox"
                                     ng-change="selectAllAction()"></md-checkbox>
                    </span>
                    <md-input-container flex="20" style="margin-left: 55px;" ng-show="selectedItem == null">
                        <label>编号：</label>
                        <input type="text" ng-model="listFilterOption.no" ng-keypress="queryEnter($event)">
                    </md-input-container>
                    <md-input-container flex="20" ng-show="selectedItem == null">
                        <label>名称：</label>
                        <input type="text" ng-model="listFilterOption.name" ng-keypress="queryEnter($event)">
                    </md-input-container>
                    <md-input-container flex="70" style="margin-left: 55px;" ng-show="selectedItem != null">
                        <label>输入关键字查询</label>
                        <input ng-model="listFilterOption.keyWord" ng-keypress="queryEnter($event)">
                    </md-input-container>
                    <span style="padding-top: 10px;">
                        <md-button class="md-icon-button" aria-label="Eat cake" ng-click="showAdvancedSearchAction()">
                            <ng-md-icon icon="expand_more" ng-show="!displayAdvancedSearPanel"></ng-md-icon>
                            <ng-md-icon icon="expand_less" ng-show="displayAdvancedSearPanel"></ng-md-icon>
                        </md-button>
                    </span>
                </div>
                <!-- advanced search-->
                <div layout="row" ng-show="displayAdvancedSearPanel">
                    <!-- fill more searching here.-->
                    <div flex>
                        <!-- Have you stuff here....-->
                    </div>
                </div>
                <!-- status panel-->
                <div layout="row" layout-warp layout-padding layout-margin ng-show="!selectedItem"
                     style="margin: 20px 0px 20px 0px; padding-left: 60px;background-color: whitesmoke;position: relative;height: 50px;padding-top: 15px;">
                    <span flex="20">总记录数: {{pageOption.totalElements}}</span>
                    <span flex="20">已选记录数: {{selectItemCount}} </span>
                    <!--<span flex="20">汇总金额: </span>-->

                    <md-menu>
                        <md-button class="md-button close-btn" aria-label="More" ng-click="$mdOpenMenu($event)"
                                   style="position: absolute;right: 0px;top: 0px;">
                            <ng-md-icon icon="sort"></ng-md-icon>
                            排序
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('name')">
                                    <ng-md-icon ng-show="sortByField == 'name'" icon="play_arrow"></ng-md-icon>
                                    按名称
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('no')">
                                    <ng-md-icon ng-show="sortByField == 'no'" icon="play_arrow"></ng-md-icon>
                                    按编号
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div ng-repeat="item in itemList | orderBy:sortByField"
                     ng-class="selectedItem.no == item.no ? 'selected-item':''">
                    <div class="summary-item">
                        <div layout="row" layout-wrap>
                            <span style="position: absolute">
                                <md-checkbox aria-label="Checkbox" ng-checked="exists(item, selected)"
                                             ng-click="selectItemAction($event, item, selected)"></md-checkbox>
                            </span>


                            <div flex="100" layout="row"
                                 style="padding-left: 50px;padding-top: 10px; font-weight: bold;">
                                <span flex ng-click="showDetailPanelAction(item)" class="summary-item__title">{{item.no}}</span>
                                <!--<span flex class="right-align">￥:{{item.orderAmount}}</span>-->
                            </div>
                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px;font-size: 14px;"
                                 layout-align="space-between center" ng-hide="selectedItem">
                                <div flex layout="row" style="color:#7f8fa4">
                                    <span>名称: <span
                                            style="font-style: italic">{{item.name}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>编号: <span
                                            style="font-style: italic">{{item.no}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>卡券类型: <span
                                            style="font-style: italic">{{item.discountCartType.name}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>特定商品卡券标识: <span
                                            style="font-style: italic">{{item.specificCardFlag}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>起始时间: <span
                                            style="font-style: italic">{{item.startTime | date:'yyyy-MM-dd'}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>结束时间: <span
                                            style="font-style: italic">{{item.overTime | date:'yyyy-MM-dd'}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div pagination option="pageOption" callback="refreshList()"></div>
            </div>
        </div>
    </div>

    <div ng-if="ui_status != UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="100" class="left-title">
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="listItemAction()"
                           style="float: left; margin-left: 36px;">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
                <span>{{desc}}</span>
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="saveItemAction()">
                    <ng-md-icon icon="save"></ng-md-icon>
                </md-button>
            </div>
        </div>

        <object-editor class="object-editor" status="status" source="source" domain="domain"></object-editor>
    </div>

</div>
