<md-content style="overflow: scroll;">
    <div flex>
        <md-button ng-click="openAddDetailDlg()" class="md-raised"
                   ng-hide="ui_status == UI_STATUS.EDIT_UI_STATUS_MODIFY || ui_status == UI_STATUS.EDIT_UI_STATUS_ADD || selectedItem.confirm == '2'">
            <i class="fa fa-plus">新增产品</i>
        </md-button>
    </div>
    <div layout="row">
        <!--        <div flex="5" class="verticalLine table-head">选定</div>-->
        <div align="center" flex="5" class=" table-head"
             ng-hide="ui_status == UI_STATUS.EDIT_UI_STATUS_MODIFY || ui_status == UI_STATUS.EDIT_UI_STATUS_ADD || selectedItem.confirm == '2'">
            修改
        </div>
        <div align="center" flex="5" class=" table-head"
             ng-hide="ui_status == UI_STATUS.EDIT_UI_STATUS_MODIFY || ui_status == UI_STATUS.EDIT_UI_STATUS_ADD || selectedItem.confirm == '2'">
            删除
        </div>
        <div align="center" flex="5" class=" table-head">项次</div>
        <div align="center" flex="10" class=" table-head">品号</div>
        <div align="center" flex="10" class=" table-head">品名</div>
        <div align="center" flex="10" class=" table-head">规格</div>
        <div align="center" flex="5" class=" table-head">品牌</div>
        <div align="center" flex="10" class=" table-head">品牌名</div>
        <div align="center" flex="10" class=" table-head">数量</div>
        <div align="center" flex="10" class=" table-head">标准价</div>
        <div align="center" flex="10" class=" table-head">订单单价</div>
        <div align="center" flex="10" class=" table-head">税前金额</div>
        <div align="center" flex="10" class=" table-head">赠品类型</div>
        <div align="center" flex="10" class=" table-head">促销类型</div>
        <div align="center" flex="10" class=" table-head">促销单价</div>
        <div align="center" flex="10" class=" table-head">单位</div>
        <div align="center" flex="10" class=" table-head">商品属性</div>

    </div>
    <div ng-repeat="orderDetail in OrderDetailList.content | orderBy:'no'">
        <div layout="row">
            <!--            <div flex="5" style="padding:0px 0px 0px 0px;" layout-align="center" class=" table-item">
                            <md-checkbox ng-checked="exists(orderDetail, selectedDetail)"
                                         ng-click="toggleDetail(orderDetail, selectedDetail)" aria-label="checkbox">
                            </md-checkbox>
                        </div>-->
            <!--操作-->
            <div flex="5" class=" table-item"
                 ng-hide="ui_status == UI_STATUS.EDIT_UI_STATUS_MODIFY || ui_status == UI_STATUS.EDIT_UI_STATUS_ADD || selectedItem.confirm == '2'">
                <div layout="row" layout-sm="column" layout-align="center center">
                    <div align="center"
                         ng-click="orderDetailEditMenuAction(orderDetail)">
                        <i class="fa fa-pencil-square-o"></i>&nbsp;{{itemOperationMenuDisplayOption['500-item-edit'].name}}
                    </div>
                </div>
            </div>
            <div flex="5" class=" table-item"
                 ng-hide="ui_status == UI_STATUS.EDIT_UI_STATUS_MODIFY || ui_status == UI_STATUS.EDIT_UI_STATUS_ADD || selectedItem.confirm == '2'">
                <div layout="row" layout-sm="column" layout-align="center center">
                    <div align="center"
                         ng-click="orderDetailDeleteMenuAction(orderDetail)">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
            <!--项次-->
            <div align="center" flex="5" class=" table-item">{{orderDetail.no}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.item.no}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.item.name}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.item.standard}}</div>
            <div align="center" flex="5" class=" table-item">{{orderDetail.item.brand.no}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.item.brand.name}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.orderQuantity}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.standardPrice}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.orderPrice}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.originalOrderAmountTax}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.saleType.name}}</div>
            <div align="center" flex="10" class=" table-item">{{RETURN_FLAG[orderDetail.returnFlag].name}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.promotionPrice}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.item.unit}}</div>
            <div align="center" flex="10" class=" table-item">{{orderDetail.itemAttribute}}</div>

        </div>
    </div>
</md-content>