<div layout="row"   style="background-color:#BDBDBD;"  layout-margin  layout-align="center center"  >
    <div  flex="5"></div>
    <div align="center"   flex="35">渠道商/直营店</div>
    <div align="center"   flex="35">商品数</div>
    <div align="center"  flex="20"></div>
</div>


<div ng-repeat="channel in ChannelList.content"  >
    <div layout="row" layout-align="center center" >
        <div flex="5">
            <md-checkbox ng-checked="exists(channel, selected)" ng-click="toggle(channel, selected)">
            </md-checkbox>
        </div>

        <div align="center" flex="35" class="table-item">{{channel.name}} </div>

        <div align="center" flex="35" class="table-item">{{channel.channelPriceCount}} </div>

        <div  align="center" flex="20" >
            <md-button class="md-raised" style="float: left;" ng-click="editItem(channel)">&nbsp;查看详情</md-button>
        </div>
    </div>
</div>

<div pagination option="pageOption" callback="queryMenuAction()"></div>