<div class="main-panel">
    <div ng-show="ui_status == UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="70" hide-sm hide-md class="left-title" ng-show="selectedItem" style="position: relative;">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;"
                           ng-disabled="selectedItem.confirm == '2'"
                           ng-click="editItemAction(selectedItem, 'SYS_BASE_MENU_FILE', '系统菜单: ' + selectedItem.no)">
                    <ng-md-icon icon="edit"></ng-md-icon>
                </md-button>
                <md-menu>
                    <md-button class="md-icon-button close-btn" aria-label="More" style="float: left;margin-left: 36px;" ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item
                                ng-if="menuDisplayOption['detailDelete'].display && (menuAuthDataMap[menuDisplayOption['detailDelete'].uuid] || isAdmin() || !menuDisplayOption['detailDelete'].uuid)">
                            <md-button class="md-button" aria-label="More" ng-click="deleteClickAction($event, selectedItem)">
                                <ng-md-icon icon="delete"></ng-md-icon>
                                删除
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <span>系统菜单详细信息</span>
                <md-button class="md-icon-button close-btn float-right" aria-label="More" ng-click="selectedItem = null">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
            </div>
            <div flex class="right-title">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;"
                           ng-click="preAddItemAction({}, 'SYS_BASE_MENU_FILE')">
                    <ng-md-icon icon="add"></ng-md-icon>
                </md-button>
                <span>系统菜单列表</span>
                <md-menu>
                    <md-button class="md-icon-button close-btn float-right" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item
                                ng-if="menuDisplayOption['batchDelete'].display && (menuAuthDataMap[menuDisplayOption['batchDelete'].uuid] || isAdmin() || !menuDisplayOption['batchDelete'].uuid)">
                            <md-button class="md-button" aria-label="More" ng-click="deleteAllClickAction($event)">
                                <ng-md-icon icon="delete"></ng-md-icon>
                                批量删除
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div layout="row" class="main-body border">
            <div flex="70" hide-sm hide-md layout="column" class="left-body" ng-show="selectedItem">
                <div flex="100" layout-padding>
                    <div layout="row" layout-padding style="font-size: 20px;padding-top: 2px; font-weight: bold;">
                        <span flex>编号: {{selectedItem.no}}</span>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-wrap layout-margin>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">系统菜单</span>
                            <span class="item-content">{{selectedItem.name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">所属资源编号</span>
                            <span class="item-content">{{selectedItem.sysRes.no}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">所属资源名称</span>
                            <span class="item-content">{{selectedItem.sysRes.name}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div flex class="right-body">
                <div class="search-bar" layout="row" style="position: relative">
                    <span style="position: absolute; top: 15px; left: 10px;">
                        <md-checkbox ng-model="selectAllFlag" aria-label="Checkbox" ng-change="selectAllAction()"></md-checkbox>
                    </span>

                    <md-button flex="5" style="margin: 10px 0px 0px 50px;" ng-click="openSysResDlg()" class="md-icon-button" ng-show="selectedItem == null">
                        <i class="fa fa-search"></i>
                    </md-button>
                    <md-input-container flex="20" ng-show="selectedItem == null">
                        <label>所属资源</label>
                        <input type="text" ng-model="listFilterOption.select.sysResName" placeholder="开窗选择所属资源" readonly>
                    </md-input-container>
                    <md-button flex="5" style="margin: 10px 10px 0px 0px;" ng-click="clearSysRes()" class="md-icon-button" ng-show="selectedItem == null">
                        <i class="fa fa-times"></i>
                    </md-button>

                    <md-input-container flex="20" ng-show="selectedItem == null">
                        <label>编号：</label>
                        <input type="text" ng-model="listFilterOption.no" ng-keypress="queryEnter($event)">
                    </md-input-container>
                    <md-input-container flex="20" ng-show="selectedItem == null">
                        <label>名称：</label>
                        <input type="text" ng-model="listFilterOption.name" ng-keypress="queryEnter($event)">
                    </md-input-container>
                    <md-input-container flex="70" style="margin-left: 55px;" ng-show="selectedItem != null">
                        <label>输入关键字查询</label>
                        <input ng-model="listFilterOption.keyWord" ng-keypress="queryEnter($event)">
                    </md-input-container>

                    <span flex style="padding-top: 10px;" align="right">
                        <md-button class="md-icon-button" aria-label="Eat cake" ng-click="showAdvancedSearchAction()">
                            <ng-md-icon icon="expand_more" ng-show="!displayAdvancedSearPanel"></ng-md-icon>
                            <ng-md-icon icon="expand_less" ng-show="displayAdvancedSearPanel"></ng-md-icon>
                        </md-button>
                    </span>
                </div>
                <!-- advanced search-->
                <!--<div class="search-bar" layout="row" ng-show="displayAdvancedSearPanel" layout-align="start center">-->

                <!--</div>-->
                <!-- status panel-->
                <div layout="row" layout-warp layout-padding layout-margin ng-show="!selectedItem"
                     style="margin: 20px 0px 20px 0px; padding-left: 60px;background-color: whitesmoke;position: relative;height: 50px;padding-top: 15px;">

                    <span flex="20">总记录数: {{pageOption.totalElements}}</span>
                    <span flex="20">已选记录数: {{selectedItemSize}}</span>
                    <md-menu>
                        <md-button class="md-button close-btn" aria-label="More" ng-click="$mdOpenMenu($event)" style="position: absolute;right: 0px;top: 0px;">
                            <ng-md-icon icon="sort"></ng-md-icon>
                            排序
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('no')">
                                    <ng-md-icon ng-show="sortByField == 'no'" icon="play_arrow"></ng-md-icon>
                                    按编号
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('name')">
                                    <ng-md-icon ng-show="sortByField == 'name'" icon="play_arrow"></ng-md-icon>
                                    按名称
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('sysRes.no')">
                                    <ng-md-icon ng-show="sortByField == 'sysRes.no'" icon="play_arrow"></ng-md-icon>
                                    按资源号
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('sysRes.name')">
                                    <ng-md-icon ng-show="sortByField == 'sysRes.name'" icon="play_arrow"></ng-md-icon>
                                    按资源名
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div ng-repeat="item in itemList | orderBy:sortByField" ng-class="selectedItem.no == item.no ? 'selected-item':''">
                    <div class="summary-item">
                        <div layout="row" layout-wrap>
                            <span style="position: absolute">
                                <md-checkbox ng-model="item.selected" aria-label="Checkbox" ng-click="selectItemAction($event, item)"></md-checkbox>
                            </span>

                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px; font-weight: bold;">
                                <span flex ng-click="showDetailPanelAction(item)" class="summary-item__title">{{item.no}}</span>
                            </div>
                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px;font-size: 14px;" layout-align="space-between center" ng-hide="selectedItem">
                                <div flex layout="row" style="color:#7f8fa4">
                                    <span>系统菜单: <span style="font-style: italic">{{item.name}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>所属资源编号: <span style="font-style: italic">{{item.sysRes.no}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>所属资源名称: <span style="font-style: italic">{{item.sysRes.name}}&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                </div>
                            </div>
                            <div flex="100" style="padding-left: 50px;padding-top: 30px;font-size: 14px;color:#7f8fa4" ng-show="selectedItem">
                                系统菜单:<span style="font-style: italic">{{item.name}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <div pagination option="pageOption" callback="refreshList()"></div>
            </div>
        </div>
    </div>

    <div ng-if="ui_status != UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="100" class="left-title">
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="listItemAction()" style="float: left; margin-left: 36px;">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
                <span>{{desc}}</span>
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="saveItemAction()">
                    <ng-md-icon icon="save"></ng-md-icon>
                </md-button>
            </div>
        </div>
        <object-editor class="object-editor" status="status" source="source" domain="domain"></object-editor>
    </div>

</div>
