<div layout-fill class="right-container catalogue-template">
    <md-content class="formList">
        <form name="mainForm" novalidate>
            <div class="menu">
                <md-content>
                    <div class="menu-bar" layout="row" layout-sm="column" layout-align="center left">
                        <md-button ng-click="changeToEditMode()" ng-if="formMenuDisplayOption['102-edit'].display"
                                   ng-disabled="ui_status == UI_STATUS.EDIT_UI_STATUS">
                            <i class="fa fa-plus"></i>&nbsp;{{formMenuDisplayOption['102-edit'].name}}
                        </md-button>
                        <md-button ng-click="updateNodeData()" ng-if="formMenuDisplayOption['302-save'].display"
                                   ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS || selectedNode == null">
                            <i class="fa fa-floppy-o"></i>{{formMenuDisplayOption['302-save'].name}}
                        </md-button>
                        <md-button ng-click="cancelModification(303)"
                                   ng-if="formMenuDisplayOption['303-cancel'].display"
                                   ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS">
                            <i class="fa fa-reply"></i>&nbsp;{{formMenuDisplayOption['303-cancel'].name}}
                        </md-button>
                        <md-button ng-click="quitEditMode()" ng-if="formMenuDisplayOption['304-quit'].display"
                                   ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS">
                            <i class="fa fa-times"></i>&nbsp;{{formMenuDisplayOption['304-quit'].name}}
                        </md-button>
                    </div>
                </md-content>
            </div>


            <table class="template-data">
                <tr>
                    <th ng-repeat="header in headers">
                        <span class="title">{{header.name}}</span>
                    </th>
                </tr>
                <tr>
                    <td ng-repeat="header in headers"><!--node in selectedTemplateData[header.grade]-->
                        <div class="item" ng-repeat="item in selectedTemplateData[header.grade]"
                             ng-click="nodeDataClickHandler(header.grade, item)"
                             ng-class="item.selected ? 'selected-item':''">
                            <span>{{item.name}}</span>
                            <span ng-click="deleteNodeData($event, item)"
                                  style="width: 20px;float: right;padding: 0px 5px 0px 5px;color:grey;"
                                  ng-if="ui_status == UI_STATUS.EDIT_UI_STATUS">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                        <div class="item plus" ng-click="addNodeData(header.grade, false)"
                             ng-if="ui_status == UI_STATUS.EDIT_UI_STATUS && header.showAddButton && header.grade != headers[0].grade">
                            <i class="fa fa-plus"></i>
                        </div>
                    </td>
                </tr>
            </table>

            <div id="templateNodeContainer" class="editor-container">
                <md-input-container>
                    <label>部门编号</label>
                    <input type="text" ng-model="selectedNode.no" required md-maxlength="20"
                           ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS || selectedNode == null">
                </md-input-container>

                <md-input-container>
                    <label>部门名称</label>
                    <input type="text" ng-model="selectedNode.name" required md-maxlength="20"
                           ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS || selectedNode == null">
                </md-input-container>

                <md-input-container>
                    <label>上级部门</label>
                    <input type="text" ng-model="selectedNode.fullPath[selectedNode.fullPath.length - 2]" required md-maxlength="20"
                           disabled>
                    <md-button ng-click="openSelectParentDlg()"
                               ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS || selectedNode == null"
                               class="md-icon-button" style="position:absolute;right:0;bottom:15px;">
                        <i class="fa fa-search"></i>
                    </md-button>
                </md-input-container>

                <md-switch ng-model="selectedNode.confirm" aria-label="Switch 1" class="md-block"
                           ng-true-value="'2'" ng-false-value="'1'" ng-click="releaseClickAction($event, item)">
                    审核
                </md-switch>

                <md-switch ng-model="selectedNode.status" aria-label="Switch 1" class="md-block"
                           ng-true-value="'1'" ng-false-value="'2'" ng-click="releaseClickAction($event, item)">
                    启用
                </md-switch>
            </div>
        </form>
    </md-content>
</div>
