<div class="main-panel">
    <div ng-show="ui_status == UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="70" hide-sm hide-md class="left-title" ng-show="selectedItem" style="position: relative;">
                <!--<md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;" ng-click="editItemAction(selectedItem, 'PSO_RECEIPT_ORDER_DTL', '订单: ' + selectedItem.no)">
                    <ng-md-icon icon="edit"></ng-md-icon>
                </md-button>-->
                <md-menu>
                    <md-button class="md-icon-button close-btn" aria-label="More" style="float: left;margin-left: 36px;"
                               ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <!--<md-menu-content width="2">
                        <md-menu-item ng-if="selectedItem.confirm !== '2'">
                            <md-button class="md-button" aria-label="More"
                                       ng-click="confirmClickAction($event, selectedItem)">
                                <ng-md-icon icon="lock"></ng-md-icon>
                                审核
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="selectedItem.confirm == '2'">
                            <md-button class="md-button" aria-label="More"
                                       ng-click="confirmClickAction($event, selectedItem)">
                                <ng-md-icon icon="lock_open"></ng-md-icon>
                                取消审核
                            </md-button>
                        </md-menu-item>
                        &lt;!&ndash;                        <md-menu-item>
                                                    <md-button class="md-button" aria-label="More" ng-click="releaseClickAction($event, selectedItem)">
                                                        <ng-md-icon icon="send"></ng-md-icon>
                                                        发布
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button class="md-button" aria-label="More" ng-click="deleteClickAction($event, selectedItem)">
                                                        <ng-md-icon icon="delete"></ng-md-icon>
                                                        删除
                                                    </md-button>
                                                </md-menu-item>&ndash;&gt;
                    </md-menu-content>-->
                </md-menu>
                <span>订单详细信息</span>
                <md-button class="md-icon-button close-btn float-right" aria-label="More"
                           ng-click="selectedItem = null">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
            </div>
            <div flex class="right-title">
                <!--                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;" ng-click="preAddItemAction({}, 'PSO_ORDER_MST')">
                                    <ng-md-icon icon="add"></ng-md-icon>
                                </md-button>-->
                <span>订单列表</span>
                <md-menu>
                    <md-button class="md-icon-button close-btn float-right" aria-label="More"
                               ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <!--<md-menu-content width="2">
                        <md-menu-item>
                            <md-button class="md-button" aria-label="More" ng-click="confirmAllClickAction($event)">
                                <ng-md-icon icon="lock"></ng-md-icon>
                                批量审核
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-button" aria-label="More"
                                       ng-click="revertConfirmAllClickAction($event)">
                                <ng-md-icon icon="lock_open"></ng-md-icon>
                                批量取消审核
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>-->
                </md-menu>
            </div>
        </div>

        <div layout="row" class="main-body border">
            <div flex="70" hide-sm hide-md layout="column" class="left-body" ng-show="selectedItem">
                <div flex="100" layout-padding>
                    <div layout="row" layout-padding style="font-size: 20px;padding-top: 2px; font-weight: bold;">
                        <span flex>订单编号: {{selectedItem.no}}</span>
                        <span flex class="right-align">{{selectedItem.orderAmount | currency:"￥":2}}</span>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-wrap layout-margin>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">客户编号</span>
                            <span class="item-content">{{selectedItem.customer.no}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">客户名称</span>
                            <span class="item-content">{{selectedItem.customer.name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">导购编号</span>
                            <span class="item-content">{{selectedItem.employee.no}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">导购名称</span>
                            <span class="item-content">{{selectedItem.employee.name}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">开单日期</span>
                            <span class="item-content">{{selectedItem.orderDate | date:'yyyy-MM-dd'}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">销售金额</span>
                            <span class="item-content">{{selectedItem.orderAmount | currency:"￥":2}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">收银金额</span>
                            <span class="item-content">{{selectedItem.paidAmount | currency:"￥":2}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">未收金额</span>
                            <span class="item-content">{{selectedItem.unPaidAmount | currency:"￥":2}}</span>
                            <!--unpaidAmount-->
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">审核状态</span>
                            <span class="item-content">{{CONFIRM[selectedItem.confirm].name}}</span>
                        </span>
                    </div>

                    <md-tabs md-dynamic-height md-border-bottom style="padding-top: 30px;">
                        <md-tab label="收银单身信息">
                            <div layout="row" layout-wrap style="margin-top: 10px;">
                                <div flex="100" ng-repeat="detail in selectedItem.detailList" ng-click=""
                                     class="prod-item"
                                     style="position: relative;padding-bottom: 0px;margin-top: 5px;">
                                    <div layout="row" layout-margin>
                                        <div flex="5" layout-align="start center"><h2>{{detail.no}}</h2></div>
                                        <div flex="40">
                                            <!--<div layout-padding>项次 : <span>{{detail.no}}</span></div>-->
                                            <div layout-padding>收款时间 :
                                                <span>{{detail.financeDate | date:'yyyy-MM-dd'}}</span></div>
                                            <div layout-padding>收款对象 : <span>{{PAY_PARTY[detail.payParty].name}}</span>
                                            </div>
                                            <div layout-padding>银行卡卡种 : <span>{{detail.bankCard.name}}</span></div>
                                            <div layout-padding>审核状态 : <span>{{CONFIRM[detail.status].name}}</span>
                                            </div>
                                        </div>
                                        <div flex="40">
                                            <div layout-padding>收款金额 :
                                                <span>{{detail.paidAmount | currency:"￥":2}}</span></div>
                                            <div layout-padding>收款用途 : <span>{{detail.incomePurpose.name}}</span></div>
                                            <div layout-padding>付款方式 : <span>{{detail.paidPayWay.name}}</span></div>
                                            <div layout-padding>抛转状态 :
                                                <span>{{TRANSFER_FLAG[detail.transferFlag].name}}</span>
                                            </div>

                                        </div>
                                        <div flex align="right">
                                            <div ng-if="detail.status != '2'">
                                                <md-button class="md-fab"
                                                           ng-click="detailConfirmClickAction($event, detail)">
                                                    <span>审核</span>
                                                </md-button>
                                            </div>
                                            <div ng-if="detail.status == '2'">
                                                <md-button class="md-fab md-primary"
                                                           ng-click="detailConfirmClickAction($event, detail)"
                                                           ng-disabled="detail.transferFlag == '2'">
                                                    <span>取审</span>
                                                </md-button>
                                            </div>
                                            <div ng-if="detail.transferFlag != '2'">
                                                <md-button class="md-fab" ng-disabled="detail.status != '2'"
                                                           ng-click="detailTransferClickAction($event, detail)">
                                                    <span>抛转</span>
                                                </md-button>
                                            </div>
                                            <div ng-if="detail.transferFlag == '2'">
                                                <md-button class="md-fab md-primary" ng-disabled="detail.status != '2'"
                                                           ng-click="detailTransferClickAction($event, detail)">
                                                    <span>重抛</span>
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div align="right">
                                        <md-button class="md-button" aria-label="More" ng-click="toggleDetailMorePanelAction(detail)">
                                            查看更多...
                                        </md-button>
                                        <md-button class="md-button" aria-label="More" ng-click="deleteDetailAction(detail)">
                                            <ng-md-icon icon="remove_circle_outline" size="20"></ng-md-icon>删除
                                        </md-button>
                                        <md-button class="md-button" aria-label="More"
                                                   ng-click="editItemAction(detail, 'PSO_ORDER_DTL', '订单: ' + selectedItem.no + ' / ' + '产品信息: ' + detail.no)">
                                            <ng-md-icon icon="edit" size="20"></ng-md-icon>编辑
                                        </md-button>
                                    </div>
                                    &lt;!&ndash; detail panel &ndash;&gt;
                                    <div layout="row" ng-show="detail.showMorePanel">
                                        <div layout-margin>Have more stuff here....</div>
                                    </div>-->
                                    <md-divider></md-divider>
                                </div>
                                <!--<div flex="100" class="add-new" style="margin: 10px 0 0 0;" ng-click="preAddItemAction({}, 'PSO_ORDER_DTL', '新增订单')">
                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;点击新增...</a>
                                </div>-->
                            </div>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
            <div flex class="right-body">
                <!-- basic search-->
                <div layout="row" layout-align="start center">
                    <!--<span style="position: absolute; top: 15px; left: 10px;">
                        <md-checkbox ng-model="selectAllFlag" aria-label="Checkbox" ng-change="selectAllAction()"></md-checkbox>
                    </span>
                    style="position: relative"
                    -->
                    <md-button flex="5" ng-click="openChannelDlg()" class="md-icon-button"
                               ng-show="selectedItem == null">
                        <i class="fa fa-search"></i>
                    </md-button>
                    <md-input-container flex="20" ng-show="selectedItem == null">
                        <label>渠道名称</label>
                        <input type="text" ng-model="listFilterOption.channelName" placeholder="开窗选择渠道" readonly>
                    </md-input-container>
                    <md-button flex="5" ng-click="clearChannel()" class="md-icon-button" ng-show="selectedItem == null">
                        <i class="fa fa-times"></i>
                    </md-button>

                    <md-input-container flex="20" ng-show="selectedItem == null">
                        <label>订单单号：</label>
                        <input type="text" ng-model="listFilterOption.no">
                    </md-input-container>

                    <md-input-container flex>
                        <label>审核状态</label>
                        <md-select ng-model="listFilterOption.confirm">
                            <md-option ng-repeat="(key, value) in CONFIRM" ng-value="key">{{value.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <span style="padding-top: 10px;" align="right" flex="25">
                        <md-button class="md-icon-button" aria-label="Eat cake" ng-click="showAdvancedSearchAction()">
                            <ng-md-icon icon="expand_more" ng-show="!displayAdvancedSearPanel"></ng-md-icon>
                            <ng-md-icon icon="expand_less" ng-show="displayAdvancedSearPanel"></ng-md-icon>
                        </md-button>
                    </span>
                </div>
                <!-- advanced search-->
                <div layout="row" ng-show="displayAdvancedSearPanel" layout-align="start center">
                    <div flex="5"></div>
                    <md-input-container flex="20" ng-show="selectedItem == null">
                        <label>销售金额：</label>
                        <input type="number" ng-model="listFilterOption.orderAmount">
                    </md-input-container>

                    <md-input-container flex="20" ng-show="selectedItem == null">
                        <label>收银金额：</label>
                        <input type="number" ng-model="listFilterOption.paidAmount">
                    </md-input-container>

                    <md-input-container flex="20" ng-show="selectedItem == null">
                        <label>未收金额：</label>
                        <input type="number" ng-model="listFilterOption.unpaidAmount">
                    </md-input-container>

                    <!--<md-input-container flex="15" ng-show="selectedItem == null">
                        <label>收款用途</label>
                        <md-select ng-model="listFilterOption.confirm">
                            <md-option ng-repeat="(key, value) in CONFIRM" ng-value="key">{{value.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="15">
                        <label>收款时间：</label>
                        <input type="date" ng-model="listFilterOption.startOrderDate">
                    </md-input-container>

                    <md-input-container flex="15" ng-show="selectedItem == null">
                        <label>收款对象</label>
                        <md-select ng-model="listFilterOption.confirm">
                            <md-option ng-repeat="(key, value) in CONFIRM" ng-value="key">{{value.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="15" ng-show="selectedItem == null">
                        <label>付款方式</label>
                        <md-select ng-model="listFilterOption.confirm">
                            <md-option ng-repeat="(key, value) in CONFIRM" ng-value="key">{{value.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="15" ng-show="selectedItem == null">
                        <label>银行卡卡种</label>
                        <md-select ng-model="listFilterOption.confirm">
                            <md-option ng-repeat="(key, value) in CONFIRM" ng-value="key">{{value.name}}</md-option>
                        </md-select>
                    </md-input-container>-->
                </div>
                <!-- status panel-->
                <div layout="row" layout-warp layout-padding layout-margin ng-show="!selectedItem"
                     style="margin: 20px 0px 20px 0px; padding-left: 60px;background-color: whitesmoke;position: relative;height: 50px;padding-top: 15px;">
                    <span style="position: absolute; top: 5px; left: 10px;">
                        <md-checkbox ng-model="selectAllFlag" aria-label="Checkbox"
                                     ng-change="selectAllAction()"></md-checkbox>
                    </span>
                    <span flex="20">总记录数: {{pageOption.totalElements}}</span>
                    <span flex="20">已选记录数: {{selectedItemSize}}</span>
                    <span flex="20">汇总金额: {{selectedItemAmount | currency:"￥":2}}</span>

                    <md-menu>
                        <md-button class="md-button close-btn" aria-label="More" ng-click="$mdOpenMenu($event)"
                                   style="position: absolute;right: 0px;top: 0px;">
                            <ng-md-icon icon="sort"></ng-md-icon>
                            排序
                        </md-button>
                        <md-menu-content width="5">
                            <md-menu-item>
                                <!--                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('name')">
                                                                    <ng-md-icon ng-show="sortByField == 'name'" icon="play_arrow"></ng-md-icon>
                                                                    按收款时间
                                                                </md-button>
                                                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('no')">
                                                                    <ng-md-icon ng-show="sortByField == 'no'" icon="play_arrow"></ng-md-icon>
                                                                    按收款金额
                                                                </md-button>-->
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('orderDate')">
                                    <ng-md-icon ng-show="sortByField == 'orderDate'" icon="play_arrow"></ng-md-icon>
                                    按开单日期
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('no')">
                                    <ng-md-icon ng-show="sortByField == 'no'" icon="play_arrow"></ng-md-icon>
                                    按销售单号
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('orderAmount')">
                                    <ng-md-icon ng-show="sortByField == 'orderAmount'" icon="play_arrow"></ng-md-icon>
                                    按销售单金额
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('paidAmount')">
                                    <ng-md-icon ng-show="sortByField == 'paidAmount'" icon="play_arrow"></ng-md-icon>
                                    按收银金额
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('unpaidAmount')">
                                    <ng-md-icon ng-show="sortByField == 'unpaidAmount'" icon="play_arrow"></ng-md-icon>
                                    按未收金额
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div ng-repeat="item in itemList | orderBy:sortByField"
                     ng-class="selectedItem.no == item.no ? 'selected-item':''">
                    <div class="summary-item">
                        <div layout="row" layout-wrap>
                            <span style="position: absolute">
                                <md-checkbox ng-model="item.selected" aria-label="Checkbox"
                                             ng-click="selectItemAction($event, item)"></md-checkbox>
                            </span>

                            <div flex="100" layout="row"
                                 style="padding-left: 50px;padding-top: 10px; font-weight: bold;">
                                <span flex ng-click="showDetailPanelAction(item)" class="summary-item__title">{{item.no}}</span>
                                <span flex class="right-align">{{item.orderAmount| currency:"￥":2}}</span>
                            </div>
                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px;font-size: 14px;"
                                 layout-align="space-between center" ng-hide="selectedItem">
                                <div flex layout="row" style="color:#7f8fa4">
                                    <span>客户编号: <span style="font-style: italic">{{item.customer.no}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>客户名称: <span style="font-style: italic">{{item.customer.name}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>导购编号: <span style="font-style: italic">{{item.employee.no}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>导购名称: <span style="font-style: italic">{{item.employee.name}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>开单日期: <span
                                            style="font-style: italic">{{item.orderDate| date:'yyyy-MM-dd'}}</span></span>
                                </div>
                                <div layout="row" layout-align="end center">
                                    <!--<div ng-if="item.confirm !== CONFIRM[2].value">
                                        <md-button class="md-fab md-mini" ng-click="confirmClickAction($event, item)">
                                            <span>审核</span>
                                        </md-button>
                                    </div>
                                    <div ng-if="item.confirm == CONFIRM[2].value">
                                        <md-button class="md-fab md-primary md-mini"
                                                   ng-click="confirmClickAction($event, item)">
                                            <span>取审</span>
                                        </md-button>
                                    </div>-->
                                    <!--<md-switch ng-model="item.confirm" aria-label="Switch 1" class="md-block" ng-true-value="'2'" ng-false-value="'1'" ng-click="confirmClickAction($event, item)">
                                        审核
                                    </md-switch>
                                    <md-switch ng-model="item.status" aria-label="Switch 1" class="md-block" ng-true-value="'1'" ng-false-value="'2'" ng-click="statusClickAction($event, item)">
                                        启用
                                    </md-switch>
                                    <md-switch ng-model="item.release" aria-label="Switch 1" class="md-block" ng-true-value="'2'" ng-false-value="'1'" ng-click="releaseClickAction($event, item)">
                                        发布
                                    </md-switch>-->
                                    <md-button class="md-button close-btn" aria-label="More"
                                               ng-click="toggleMorePanelAction(item)"
                                               style="position: relative;left: 15px;">
                                        查看收银
                                    </md-button>
                                    <!--<md-button class="md-button close-btn" aria-label="More" ng-click="showDetailPanelAction(item)" style="position: relative;left: 15px;">
                                        查看详情
                                    </md-button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--查看-->
                    <div layout="row" layout-wrap ng-show="item.showMorePanel && !selectedItem"
                         style="font-size: 14px;">
                        <div flex="100" ng-repeat="detail in item.detailList" style="padding: 10px 20px 0px 20px;">
                            <md-divider></md-divider>
                            <!--<div style="padding: 5px 0px 5px 100px;font-size:13px">
                                <span>项次: <span>{{detail.no}}&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                <span>收款金额: <span>{{detail.paidAmount}}&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                <span>付款方式: <span>{{detail.paidPayWay.name}}&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                <span>收退款时间: <span>{{detail.financeDate | date:'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                <span>审核状态: <span>{{detail.status}}</span></span>
                            </div>-->
                            <div layout="row" style="padding: 0px 0px 0px 10px;">
                                <div flex="5" layout-align="start center"><h2>{{detail.no}}</h2></div>
                                <div flex="20">
                                    <!--<div layout-padding>项次 : <span>{{detail.no}}</span></div>-->
                                    <div layout-padding>收款时间 : <span>{{detail.financeDate | date:'yyyy-MM-dd'}}</span>
                                    </div>
                                    <div layout-padding>付款方式 : <span>{{detail.paidPayWay.name}}</span></div>
                                </div>
                                <div flex="20">
                                    <div layout-padding>收款金额 : <span>{{detail.paidAmount | currency:"￥":2}}</span></div>
                                    <div layout-padding>收款用途 : <span>{{detail.incomePurpose.name}}</span></div>
                                </div>
                                <div flex="20">
                                    <div layout-padding>收款对象 : <span>{{PAY_PARTY[detail.payParty].name}}</span></div>
                                    <div layout-padding>银行卡卡种 : <span>{{detail.bankCard.name}}</span></div>
                                </div>
                                <div flex="20">
                                    <div layout-padding>审核状态 : <span>{{CONFIRM[detail.status].name}}</span></div>
                                    <div layout-padding>抛转状态 :
                                        <span>{{TRANSFER_PSO_FLAG[detail.performFlag].name}}</span></div>
                                </div>
                                <!--<div flex align="right" layout="row">
                                    <div ng-if="detail.status !== '2'">
                                        <md-button class="md-fab md-mini"
                                                   ng-click="detailConfirmClickAction($event, detail)">
                                            <span>审核</span>
                                        </md-button>
                                    </div>
                                    <div ng-if="detail.status == '2'">
                                        <md-button class="md-fab md-primary md-mini"
                                                   ng-click="detailConfirmClickAction($event, detail)">
                                            <span>取审</span>
                                        </md-button>
                                    </div>
                                    <div ng-if="detail.performFlag !== '1'">
                                        <md-button class="md-fab md-mini"
                                                   ng-click="detailTransferClickAction($event, detail)">
                                            <span>抛转</span>
                                        </md-button>
                                    </div>
                                    <div ng-if="detail.performFlag == '1'">
                                        <md-button class="md-fab md-primary md-mini"
                                                   ng-click="detailTransferClickAction($event, detail)">
                                            <span>取抛</span>
                                        </md-button>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <div pagination option="pageOption" callback="refreshList()"></div>
            </div>
        </div>
    </div>

    <div ng-if="ui_status != UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="100" class="left-title">
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="listItemAction()"
                           style="float: left; margin-left: 36px;">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
                <span>{{desc}}</span>
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="saveItemAction()">
                    <ng-md-icon icon="save"></ng-md-icon>
                </md-button>
            </div>
        </div>

        <object-editor class="object-editor" status="status" source="source" domain="domain"></object-editor>
    </div>

</div>
