<div class="main-panel">
    <div ng-show="ui_status == UI_STATUS.VIEW_UI_STATUS">
        <!-- title -->
        <div layout="row" class="top-title">
            <!-- detail info title -->
            <div flex="70" hide-sm hide-md class="left-title" ng-show="selectedItem" style="position: relative;">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;"
                           ng-if="showEditButton()"
                           ng-click="editItemAction(selectedItem, 'OCM_PARAMETER', selectedItem.uuid)">
                    <ng-md-icon icon="edit"></ng-md-icon>
                </md-button>
                <md-menu>
                    <md-button class="md-icon-button close-btn" aria-label="More" style="float: left;"
                               ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-if="showDeleteMenuItem()">
                            <md-button class="md-button" aria-label="More"
                                       ng-click="deleteItemAction($event, selectedItem)">
                                <ng-md-icon icon="delete"></ng-md-icon>
                                &nbsp;{{menuDisplayOption['delete'].name}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <span>中台参数管理详细信息</span>
                <md-button class="md-icon-button close-btn float-right" aria-label="More"
                           ng-click="hideItemDetailsAction($event, selectedItem)">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
            </div>
            <!-- list info title -->
            <div flex class="right-title">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;"
                           ng-click="preAddItemAction({}, 'OCM_PARAMETER', '添加中台参数')">
                    <ng-md-icon icon="add"></ng-md-icon>
                </md-button>
                <span>中台参数管理列表</span>
            </div>
        </div>

        <!-- body -->
        <div layout="row" class="main-body border">
            <!-- detail info body -->
            <div flex="70" hide-sm hide-md layout="column" class="left-body" ng-show="selectedItem">
                <div flex="100" layout-padding>
                    <div layout="row" layout-padding style="font-size: 20px;padding-top: 2px; font-weight: bold;">
                        <span flex>{{selectedItem.uuid}}</span>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-wrap layout-margin>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">标准价系数</span>
                            <span class="item-content">{{selectedItem.standardPriceCoefficient}}</span>
                        </span>
                        <span flex="50" flex-sm="100" layout-padding>
                            <span class="item-name">最低出货折扣率</span>
                            <span class="item-content">{{selectedItem.saleDiscountRate}}</span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- list info body -->
            <div flex class="right-body">
                <!-- search bar -->
                <div class="search-bar" layout="row" style="position: relative">
                    <md-input-container flex style="margin-left: 50px;">
                        <label>标准价系数</label>
                        <input ng-model="listFilterOption.coefficient">
                    </md-input-container>
                    <md-input-container flex style="margin-left: 50px;">
                        <label>最低出货折扣率</label>
                        <input ng-model="listFilterOption.discount">
                    </md-input-container>
                    <md-button class="md-raised" style="margin-top: 22px;height: 20px;"
                               ng-if="showQueryButton()"
                               ng-click="queryAction()"> &nbsp;{{menuDisplayOption['query'].name}}
                    </md-button>
                </div>
                <!-- status panel -->
                <div layout="row" layout-warp layout-padding layout-margin ng-show="!selectedItem"
                     style="margin: 20px 0px 20px 0px; padding-left: 60px;background-color: whitesmoke;position: relative;height: 50px;padding-top: 15px;">
                    <span flex="20">总记录数: {{pageOption.totalElements}}</span>
                    <md-menu>
                        <md-button class="md-button close-btn" aria-label="More" ng-click="$mdOpenMenu($event)"
                                   style="position: absolute;right: 0px;top: 0px;">
                            <ng-md-icon icon="sort"></ng-md-icon>
                            排序
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button class="md-button" aria-label="More"
                                           ng-click="sortByAction('standardPriceCoefficient')">
                                    <ng-md-icon ng-show="sortByField == 'standardPriceCoefficient'"
                                                icon="play_arrow"></ng-md-icon>
                                    按标准价系数
                                </md-button>
                                <md-button class="md-button" aria-label="More"
                                           ng-click="sortByAction('saleDiscountRate')">
                                    <ng-md-icon ng-show="sortByField == 'saleDiscountRate'"
                                                icon="play_arrow"></ng-md-icon>
                                    按最低出货折扣率
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <!-- item list -->
                <div ng-repeat="item in itemList | orderBy:sortByField"
                     ng-class="selectedItem.uuid == item.uuid ? 'selected-item':''">
                    <div class="summary-item">
                        <div layout="row" layout-wrap>
                            <div flex="100" layout="row"
                                 style="padding-left: 50px;padding-top: 10px; font-weight: bold;">
                                <span flex ng-click="showItemDetailsAction(item)" class="summary-item__title">{{item.uuid}}</span>
                            </div>
                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px;font-size: 14px;"
                                 layout-align="space-between center" ng-hide="selectedItem">
                                <div flex layout="row" style="color:#7f8fa4">
                                    <span>标准价系数:<span style="font-style: italic">{{item.standardPriceCoefficient}}&nbsp;&nbsp;/&nbsp;&nbsp;</span></span>
                                    <span>最低出货折扣率:<span
                                            style="font-style: italic">{{item.saleDiscountRate}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <!-- page info -->
                <div pagination option="pageOption" callback="refreshList()"></div>
            </div>
        </div>
    </div>

    <!-- Edit mode UI -->
    <div ng-if="ui_status != UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="100" class="left-title">
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="returnToViewUIAction()"
                           style="float: left; margin-left: 36px;">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
                <span>{{desc}}</span>
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="saveItemAction()">
                    <ng-md-icon icon="save"></ng-md-icon>
                </md-button>
            </div>
        </div>

        <object-editor class="object-editor" status="status" source="source" domain="domain"></object-editor>
    </div>

</div>